@media (max-width: 1199px) {
	.book-sec-in h3 {font-size: 21px; line-height: 31px;} 
}
@media (max-width: 1023px) {
	.still-stay-list-wrap .still-stay-list-box{width: 33.333%;}
}
@media (max-width: 767px) {
	.heading1{font-size: 21px; line-height: 31px;}

	.subscribe-sec {padding: 20px;}

	.footer-col {width: 100%; float: none; text-align: center;}
	.footer-box {padding: 30px 0px;}
	.footer-logo2{top: 0; max-width: 75px;}
	.footer-menu ul li {text-align: center;}
}
@media (max-width: 575px) {
	.heading1 {font-size: 18px; line-height: 28px; }
	.still-stay-list-wrap .still-stay-list-box{width: 50%;  padding-right: 15px;}
}
