* {margin:0; padding:0; outline:0;  box-sizing: border-box;  -ms-box-sizing: -webkit-border-box;  -moz-box-sizing: border-box;  -o-box-sizing: border-box;}
html, body {width:100%; height:100%;}
body {	color: #191919; margin: 0px; padding: 0px; font-size: 14px; line-height: 24px; font-family: 'Prompt', sans-serif;}
a:focus , input:focus , select:focus{ outline:none !important;}
a , input[type="button"] , input, textarea, select , button {-webkit-transition:ease-in-out .4s; -moz-transition:ease-in-out .4s; -ms-transition:ease-in-out .4s; -o-transition:ease-in-out .4s; transition:ease-in-out .4s;font-family: 'Conv_MyriadPro-Regular_0'; outline:none; text-decoration:none;}
select {-ms-appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none; background:url(./images/select.png) no-repeat right 5px center #fff;}
.transition {-webkit-transition:ease-in-out .4s; -moz-transition:ease-in-out .4s; -ms-transition:ease-in-out .4s; -o-transition:ease-in-out .4s; transition:ease-in-out .4s;}
.noTransition {-webkit-transition:ease-in-out 0s; -moz-transition:ease-in-out 0s; -ms-transition:ease-in-out 0s; -o-transition:ease-in-out 0s; transition:ease-in-out 0s;}
.clearfix:before, .clearfix:after {content:''; display:block; height:0; overflow:hidden; clear:both;}
.clearfix {clear:both;}
.fl {float:left;}
.fr {float:right;}
img {border:none; vertical-align:top; width:auto; max-width:100%;}
.custom-button {background: #6c1a74; border: 0px;}
.main-wrapper{width: 100%; position: relative;background: #ffffff;}
.con-wrap{width: 100%; max-width: 1310px; padding-left: 15px; padding-right: 15px; margin: auto; position: relative; z-index: 1}
.heading1{font-size: 30px; line-height: 40px; color: #191919; font-family: 'Prompt', sans-serif;}
h2.heading1:before {content: ''; display: inline-block; border-left: 5px solid #6c1a74; height: 40px; vertical-align: middle; margin-right: 15px;}
.row{display: block; margin-left: -15px; margin-right: -15px; position: relative;}
.row:after{content: ''; display: block; clear: both;}
.banner-wrapeer{width: 100%; background-repeat: no-repeat !important; background-size: cover !important; background-position: 100% 100% !important; padding: 60px 0px; position: relative;}
.header-wrap {background: #423450; padding: 15px 60px; width: 100%;}
.header-logo {float: left; width: 100%; max-width: 250px; padding: 10px 0px;}
.header-menu {float: right;}
.header-menu ul li {display: inline-block; padding: 10px 15px;}
.header-menu ul li a {color: #fff; font-size: 16px; font-family: 'Prompt', sans-serif;}
.header-menu ul li a:after {margin: 4px auto 0px; content: ''; display: block; width: 0%; border: 1px solid transparent; transition: all 0.3s;}
.header-menu ul li a:hover:after {border: 1px solid #6c1a74; width: 70%;}
.header-menu ul li.register-btn a:after {content: ''; margin: 0px; border: 0px;}
.header-menu ul li.register-btn a:after:hover{width: 0%;}
.banner-wrapeer:after {content: ''; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.2); width: 100%; height: 100%; position: absolute;}
.banner-logo {width: 100%; max-width: 300px; margin: 30px auto 0px;}
.banner-con-title {font-size: 35px; line-height: 40px; color: #fff; text-align: center; width: 100%; max-width: 1000px; margin: 0 auto;}
.about-sec{position: relative; width: 100%; max-width: 1310px; margin: 0 auto; padding: 150px 15px;}
.about-left-sec, .about-right-sec {float: left; width: 50%; padding-left: 15px; padding-right: 15px;}
.about-right-sec{position: relative;}    
.about-con {padding: 45px 0px;}
.founder-details {position: relative; padding-left: 120px;}
.founder-image {width: 90px; height: 90px; border-radius: 50%; position: absolute; left: 0;}
.founder-image img {border-radius: 50%;}
.founder-details h3 {font-size: 20px; line-height: 30px; font-family: 'Ubuntu', sans-serif; font-weight: 400;}

.video-bg-image {text-align: right;}
.about-video-box {position: absolute; top: 0; max-width: 417px;}
.about-video-con {position: absolute; width: 360px; height: 250px; border: 1px solid #fff; top: 25px; left: 45px;}
.about-video-con img {position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}


.book-sec{width: 100%; position: relative; background: #1a092e;}
.book-sec-col {float: left; width: 25%; padding-left: 15px; padding-right: 15px; margin: auto;}
.book-sec-in {padding: 70px 10px; position: relative;}
.book-sec-in:hover {background: #3b0f49;}
.book-sec-in h3 {font-size: 24px; line-height: 34px; color: #fff; padding: 14px 0px;}
.book-sec-icon {position: relative; padding-left: 60px;}
.book-sec-icon.step-sec{padding-left: 80px;}
.book-sec-icon.ts-sec{padding-left: 70px;}
.book-sec-icon img {position: absolute; left: 0;}
.book-sec-icon h4 {font-size: 16px; line-height: 26px; color: #fff; font-weight: 400;}
.book-sec-icon p {font-size: 12px; line-height: 18px; color: #fff;}
.inspiration-slider-wrap {margin: 50px 0px;}
.inspiration-sec {padding-top: 95px; padding-bottom: 95px;}
.inspiration-col{padding-left: 15px; padding-right: 15px;}
.inspiration-slider-con {width: 100%; max-width: 320px; border: 1px solid #fff; margin: 0 auto; text-align: center; font-size: 13px; line-height: 23px; padding-top: 150px; padding-bottom: 30px; color: #fff;}
.inspiration-slider-con h3 {font-size: 30px; line-height: 40px; color: #fff; text-align: center;}

.featured-destination-image-wrap {margin: 50px 0px;}
.feature-row{margin-left: -2px; margin-right: -2px;}
.featire-col-6{width: 50%; float: left; padding-left: 2px; padding-right: 2px;}
.featire-col-3{width: 25%; float: left; padding-left: 2px; padding-right: 2px;}
.featired-destination img {width: 100%;}
.featired-destination {margin-bottom: 4px; position: relative;}
.property-detail {position: absolute; bottom: 0; width: 100%; color: #fff;}
.property-country {float: left; padding-left: 25px; padding-bottom: 20px;}
.property-country h3 {font-size: 26px; line-height: 36px; font-weight: 400;}
.property-price {float: right; padding-right: 25px; padding-bottom: 20px;}

.begin-journey-sec, .subscribe-sec{padding: 50px; background-position: center center !important;; background-size: cover !important;; background-repeat: no-repeat !important;}
.subscribe-box-wrap {width: 100%; max-width: 770px; border: 1px solid #fff; padding: 60px 0px; margin: 50px auto; text-align: center;}
.subscribe-box-wrap h3 {font-size: 25px; line-height: 35px; color: #fff; font-family: 'Prompt', sans-serif; font-weight: 400;}
.subscribe-form {width: 100%; max-width: 500px; margin: 20px auto; padding-left: 10px; padding-right: 10px;}
.custom-text {float: left; width: calc(100% - 110px); height: 40px; padding: 10px; border: 0px solid #fff; background: #cccccc87; color: #fff; border-radius: 0px; font-size: 15px; font-family: 'Prompt', sans-serif;}
.subscribe-form .custom-button {float: left; height: 40px; width: 110px; font-size: 15px; text-transform: uppercase; background: #1b0e49; color: #fff; font-family: 'Prompt', sans-serif;}

.still-decid-stay {margin-top: 70px;}
.still-decid-stay-title {padding: 25px 0px; width: 100%; max-width: 450px; color: #1b0e49; font-size: 13px; line-height: 23px; font-family: 'Ubuntu', sans-serif;}
.still-stay-list-wrap .still-stay-list-box {float: left; width: 16.666%; list-style-type: none;}
.still-stay-list-wrap .still-stay-list-box li {font-size: 13px; line-height: 23px; font-family: 'Ubuntu', sans-serif; color: #1b0e49; margin-bottom: 30px;}

.begin-journey-box {position: relative; padding-left: 15px; padding-right: 15px; float: left; width: 25%; text-align: center;}
.icon-wrap {width: 80px; height: 80px; position: relative; margin: 0 auto;}
.icon-wrap img {position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.begin-journey-con {width: 100%; max-width: 600px; text-align: center; margin: 150px auto; font-size: 14px; line-height: 24px;}
.begin-journey-con h3 {font-size: 30px; font-weight: 400; margin-bottom: 25px;}

.world-big-place-sec, .big-place-box-wrap{margin: 40px 0px;}
.big-place-box {float: left; width: 33.333%; padding-left: 15px; padding-right: 15px; position: relative;}
.big-place-box-in {background-repeat: no-repeat !important; background-position: 100% 100% !important; background-size: cover !important; padding: 30px; color: #fff;}
.big-place-box-in h4 {font-size: 25px; line-height: 35px; font-weight: 400;}
.big-place-list-wrap {padding: 15px 30px;}
.big-place-list-wrap ul li {float: left; width: 33.333%; list-style-type: none; color: #1b0e49;}
.view-more-btn {text-align: center;}
.view-more-btn .custom-button {padding: 8px 20px; color: #fff; font-size: 14px; line-height: 24px; font-family: 'Prompt', sans-serif;}

.top-deals-sec {background-repeat: no-repeat !important; background-position: 100% 100% !important; background-size: cover !important; padding: 120px 0; color: #fff;}
.td-left-box{padding-left: 15px; padding-right: 15px; position: relative; float: left; width: 30%}
.td-right-box{padding-left: 15px; padding-right: 15px; position: relative; float: left; width: 70%}
.today-top-deals {background: #fff; color: #1b0e49; padding: 70px 40px; text-align: center;}
.today-top-deals h4 {font-size: 25px; line-height: 35px; font-weight: 400; font-family: 'Prompt', sans-serif;}
.today-top-deals p {font-size: 16px; line-height: 26px;}
.today-top-deals .deals-time {padding: 25px 0px;}
.today-top-deals .deals-time ul li {list-style-type: none; float: left; width: 25%;}
.today-top-deals .deals-time ul li span {display: block; font-size: 10px; line-height: 20px;}
.today-top-deals .deals-time ul li span.value {font-size: 30px; font-weight: bold; margin-bottom: 5px;}
.see-more-deals .custom-button {display: inline-block; color: #fff; font-family: 'Prompt', sans-serif; width: 200px; height: 40px; line-height: 40px;}
.td-con h2 {font-family: 'Prompt', sans-serif; font-size: 48px; line-height: 58px; padding: 70px 40px;}

.owl-dots, .owl-nav  {
    display: none;
}


/* Footer */
footer.footer-wrappers {margin-top: 120px;}
.footer-in{background: #1a092e;}
.footer-col{width: 33.333%; float: left; padding-left: 15px; padding-right: 15px; position: relative;}
.footer-box {padding: 50px 0px; color: #fff;}
.footer-address-box {margin-top: 10px;}
.footer-logo2 {width: 100%; max-width: 150px; margin: 0 auto; position: relative; top: -15px; border: 1px solid #fff;}
.footer-menu ul li {list-style-type: none; text-align: right;} 
.footer-menu ul li a {font-size: 14px; color: #fff; font-family: 'Prompt', sans-serif;}
.copyright-sec p {color: #7f8887; text-align: center; padding: 15px 0px;}


.top-search-con {padding: 30px;}
.form-group label {display: block;}
.form-group .custom-text2 {display: block; width: 100%; background: #fff; color: #333; border: 1px solid #ccc; padding-left: 10px; padding-right: 10px;}
.col-m-2, .col-m-4{position: relative; float: left; padding-left: 15px; padding-right: 15px;}
.get-secret-deals {padding: 25px;border: 2px solid #c4c0c0;margin-bottom: 50px; width: 100%;max-width: 1280px;margin: auto;}
.get-main{ margin-bottom: 50px; }
.button-head{text-align: center;}
.get-secret-deals h4{text-transform: uppercase;font-size: 20px;}
.get-secret-deals button{padding: 8px 35px; text-transform: uppercase; background: #6c1a74;border: none;color: #fff;font-size: 16px; margin-top: 10px;}
.footer-social-sec ul{list-style: none;}
.footer-social-sec ul li{display: inline-block; padding: 10px 5px;}
.footer-social-sec ul li i { background: #6c1a74;padding: 10px;border-radius: 50%;}
.top-search-con i{ color: #6c1a74;}




@media (min-width: 992px) {
	.col-m-4{width: 33.333%; }
	.col-m-2{width: 16.666%; }
}


.banner-wrapeer .clearfix:before,
.banner-wrapeer .clearfix:after {
	content: " ";
	display: table;
}

.banner-wrapeer .clearfix:after {
	clear: both;
}


.banner-wrapeer h1 {
	color: #ccc;
	text-align: center;
}

.banner-wrapeer a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.banner-wrapeer .tab_container {
	width: 100%;
	margin: 0 auto;
	padding-top: 0px;
	position: relative;
}

.tab-section, .input-tab {
  clear: both;
  padding-top: 10px;
  display: none;
}

.banner-wrapeer .tab-lable {
  font-weight: 100;
  font-size: 13px;
  display: block;
  float: left;
  width: 20%;
  padding: 1.5em;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

.banner-wrapeer #tab1:checked ~ #content1,
.banner-wrapeer #tab2:checked ~ #content2,
.banner-wrapeer #tab3:checked ~ #content3,
.banner-wrapeer #tab4:checked ~ #content4,
.banner-wrapeer #tab5:checked ~ #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;

}

.banner-wrapeer .tab_container .tab-content p,
.banner-wrapeer .tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.banner-wrapeer .tab_container .tab-content h3  {
  text-align: center;
}

.banner-wrapeer .tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 3px #0CE;
}

.banner-wrapeer .tab_container [id^="tab"]:checked + label .fa {
  color: #000;
}

.banner-wrapeer label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}
.top-search button{padding: 8px 35px; text-transform: uppercase; background: #6c1a74;border: none;color: #fff;font-size: 16px; margin-top: 10px;}}

/*Media query*/
@media only screen and (max-width: 900px) {
 .banner-wrapeer  label span {
    display: none;
  }
  
  .banner-wrapeer .tab_container {
    width: 98%;
  }
}

