/*  --UTILITIES--  */
._ofw-h {
    overflow: hidden !important;
  }
  ._m-a {
    margin: auto !important;
  }
  ._m-0 {
    margin: 0 !important;
  }
  ._m-5 {
    margin: 5px !important;
  }
  ._m-10 {
    margin: 10px !important;
  }
  ._m-15 {
    margin: 15px !important;
  }
  ._m-20 {
    margin: 20px !important;
  }
  ._m-25 {
    margin: 25px !important;
  }
  ._m-30 {
    margin: 30px !important;
  }
  ._m-40 {
    margin: 40px !important;
  }
  ._m-45 {
    margin: 45px !important;
  }
  ._m-50 {
    margin: 50px !important;
  }
  ._m-60 {
    margin: 60px !important;
  }
  ._m-70 {
    margin: 70px !important;
  }
  ._m-80 {
    margin: 80px !important;
  }
  ._m-90 {
    margin: 90px !important;
  }
  ._m-100 {
    margin: 100px !important;
  }
  ._mh-a {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  ._mh-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  ._mh-5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  ._mh-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  ._mh-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  ._mh-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  ._mh-25 {
    margin-left: 25px !important;
    margin-right: 25px !important;
  }
  ._mh-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
  ._mh-40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
  }
  ._mh-45 {
    margin-left: 45px !important;
    margin-right: 45px !important;
  }
  ._mh-50 {
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
  ._mh-60 {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
  ._mh-70 {
    margin-left: 70px !important;
    margin-right: 70px !important;
  }
  ._mh-80 {
    margin-left: 80px !important;
    margin-right: 80px !important;
  }
  ._mh-90 {
    margin-left: 90px !important;
    margin-right: 90px !important;
  }
  ._mh-100 {
    margin-left: 100px !important;
    margin-right: 100px !important;
  }
  ._mv-a {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  ._mv-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  ._mv-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  ._mv-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  ._mv-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  ._mv-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  ._mv-25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  ._mv-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  ._mv-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  ._mv-45 {
    margin-top: 45px !important;
    margin-bottom: 45px !important;
  }
  ._mv-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  ._mv-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
  ._mv-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
  }
  ._mv-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
  }
  ._mv-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
  }
  ._mv-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
  ._mt-a {
    margin-top: auto !important;
  }
  ._mt-0 {
    margin-top: 0 !important;
  }
  ._mt-5 {
    margin-top: 5px !important;
  }
  ._mt-10 {
    margin-top: 10px !important;
  }
  ._mt-15 {
    margin-top: 15px !important;
  }
  ._mt-20 {
    margin-top: 20px !important;
  }
  ._mt-25 {
    margin-top: 25px !important;
  }
  ._mt-30 {
    margin-top: 30px !important;
  }
  ._mt-40 {
    margin-top: 40px !important;
  }
  ._mt-45 {
    margin-top: 45px !important;
  }
  ._mt-50 {
    margin-top: 50px !important;
  }
  ._mt-60 {
    margin-top: 60px !important;
  }
  ._mt-70 {
    margin-top: 70px !important;
  }
  ._mt-80 {
    margin-top: 80px !important;
  }
  ._mt-90 {
    margin-top: 90px !important;
  }
  ._mt-100 {
    margin-top: 100px !important;
  }
  ._mb-a {
    margin-bottom: auto !important;
  }
  ._mb-0 {
    margin-bottom: 0 !important;
  }
  ._mb-5 {
    margin-bottom: 5px !important;
  }
  ._mb-10 {
    margin-bottom: 10px !important;
  }
  ._mb-15 {
    margin-bottom: 15px !important;
  }
  ._mb-20 {
    margin-bottom: 20px !important;
  }
  ._mb-25 {
    margin-bottom: 25px !important;
  }
  ._mb-30 {
    margin-bottom: 30px !important;
  }
  ._mb-40 {
    margin-bottom: 40px !important;
  }
  ._mb-45 {
    margin-bottom: 45px !important;
  }
  ._mb-50 {
    margin-bottom: 50px !important;
  }
  ._mb-60 {
    margin-bottom: 60px !important;
  }
  ._mb-70 {
    margin-bottom: 70px !important;
  }
  ._mb-80 {
    margin-bottom: 80px !important;
  }
  ._mb-90 {
    margin-bottom: 90px !important;
  }
  ._mb-100 {
    margin-bottom: 100px !important;
  }
  ._ml-a {
    margin-left: auto !important;
  }
  ._ml-0 {
    margin-left: 0 !important;
  }
  ._ml-5 {
    margin-left: 5px !important;
  }
  ._ml-10 {
    margin-left: 10px !important;
  }
  ._ml-15 {
    margin-left: 15px !important;
  }
  ._ml-20 {
    margin-left: 20px !important;
  }
  ._ml-25 {
    margin-left: 25px !important;
  }
  ._ml-30 {
    margin-left: 30px !important;
  }
  ._ml-40 {
    margin-left: 40px !important;
  }
  ._ml-45 {
    margin-left: 45px !important;
  }
  ._ml-50 {
    margin-left: 50px !important;
  }
  ._ml-60 {
    margin-left: 60px !important;
  }
  ._ml-70 {
    margin-left: 70px !important;
  }
  ._ml-80 {
    margin-left: 80px !important;
  }
  ._ml-90 {
    margin-left: 90px !important;
  }
  ._ml-100 {
    margin-left: 100px !important;
  }
  ._mr-a {
    margin-right: auto !important;
  }
  ._mr-0 {
    margin-right: 0 !important;
  }
  ._mr-5 {
    margin-right: 5px !important;
  }
  ._mr-10 {
    margin-right: 10px !important;
  }
  ._mr-15 {
    margin-right: 15px !important;
  }
  ._mr-20 {
    margin-right: 20px !important;
  }
  ._mr-25 {
    margin-right: 25px !important;
  }
  ._mr-30 {
    margin-right: 30px !important;
  }
  ._mr-40 {
    margin-right: 40px !important;
  }
  ._mr-45 {
    margin-right: 45px !important;
  }
  ._mr-50 {
    margin-right: 50px !important;
  }
  ._mr-60 {
    margin-right: 60px !important;
  }
  ._mr-70 {
    margin-right: 70px !important;
  }
  ._mr-80 {
    margin-right: 80px !important;
  }
  ._mr-90 {
    margin-right: 90px !important;
  }
  ._mr-100 {
    margin-right: 100px !important;
  }
  ._mt--5 {
    margin-top: -5px !important;
  }
  ._mt--10 {
    margin-top: -10px !important;
  }
  ._mt--15 {
    margin-top: -15px !important;
  }
  ._mt--20 {
    margin-top: -20px !important;
  }
  ._mt--25 {
    margin-top: -25px !important;
  }
  ._mt--30 {
    margin-top: -30px !important;
  }
  ._mt--40 {
    margin-top: -40px !important;
  }
  ._mt--45 {
    margin-top: -45px !important;
  }
  ._mt--50 {
    margin-top: -50px !important;
  }
  ._mt--60 {
    margin-top: -60px !important;
  }
  ._mt--70 {
    margin-top: -70px !important;
  }
  ._mt--90 {
    margin-top: -90px !important;
  }
  ._mt--100 {
    margin-top: -100px !important;
  }
  ._mb--5 {
    margin-bottom: -5px !important;
  }
  ._mb--10 {
    margin-bottom: -10px !important;
  }
  ._mb--15 {
    margin-bottom: -15px !important;
  }
  ._mb--20 {
    margin-bottom: -20px !important;
  }
  ._mb--25 {
    margin-bottom: -25px !important;
  }
  ._mb--30 {
    margin-bottom: -30px !important;
  }
  ._mb--40 {
    margin-bottom: -40px !important;
  }
  ._mb--45 {
    margin-bottom: -45px !important;
  }
  ._mb--50 {
    margin-bottom: -50px !important;
  }
  ._mb--60 {
    margin-bottom: -60px !important;
  }
  ._mb--70 {
    margin-bottom: -70px !important;
  }
  ._mb--90 {
    margin-bottom: -90px !important;
  }
  ._mb--100 {
    margin-bottom: -100px !important;
  }
  ._ml--5 {
    margin-left: -5px !important;
  }
  ._ml--10 {
    margin-left: -10px !important;
  }
  ._ml--15 {
    margin-left: -15px !important;
  }
  ._ml--20 {
    margin-left: -20px !important;
  }
  ._ml--25 {
    margin-left: -25px !important;
  }
  ._ml--30 {
    margin-left: -30px !important;
  }
  ._ml--40 {
    margin-left: -40px !important;
  }
  ._ml--45 {
    margin-left: -45px !important;
  }
  ._ml--50 {
    margin-left: -50px !important;
  }
  ._ml--60 {
    margin-left: -60px !important;
  }
  ._ml--70 {
    margin-left: -70px !important;
  }
  ._ml--90 {
    margin-left: -90px !important;
  }
  ._ml--100 {
    margin-left: -100px !important;
  }
  ._mr--5 {
    margin-right: -5px !important;
  }
  ._mr--10 {
    margin-right: -10px !important;
  }
  ._mr--15 {
    margin-right: -15px !important;
  }
  ._mr--20 {
    margin-right: -20px !important;
  }
  ._mr--25 {
    margin-right: -25px !important;
  }
  ._mr--30 {
    margin-right: -30px !important;
  }
  ._mr--40 {
    margin-right: -40px !important;
  }
  ._mr--45 {
    margin-right: -45px !important;
  }
  ._mr--50 {
    margin-right: -50px !important;
  }
  ._mr--60 {
    margin-right: -60px !important;
  }
  ._mr--70 {
    margin-right: -70px !important;
  }
  ._mr--90 {
    margin-right: -90px !important;
  }
  ._mr--100 {
    margin-right: -100px !important;
  }
  @media (max-width: 992px) {
    ._m-mob-a {
      margin: auto !important;
    }
    ._m-mob-0 {
      margin: 0 !important;
    }
    ._m-mob-5 {
      margin: 5px !important;
    }
    ._m-mob-10 {
      margin: 10px !important;
    }
    ._m-mob-15 {
      margin: 15px !important;
    }
    ._m-mob-20 {
      margin: 20px !important;
    }
    ._m-mob-25 {
      margin: 25px !important;
    }
    ._m-mob-30 {
      margin: 30px !important;
    }
    ._m-mob-40 {
      margin: 40px !important;
    }
    ._m-mob-45 {
      margin: 45px !important;
    }
    ._m-mob-50 {
      margin: 50px !important;
    }
    ._m-mob-60 {
      margin: 60px !important;
    }
    ._m-mob-70 {
      margin: 70px !important;
    }
    ._m-mob-80 {
      margin: 80px !important;
    }
    ._m-mob-90 {
      margin: 90px !important;
    }
    ._m-mob-100 {
      margin: 100px !important;
    }
    ._mh-mob-a {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    ._mh-mob-0 {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    ._mh-mob-5 {
      margin-left: 5px !important;
      margin-right: 5px !important;
    }
    ._mh-mob-10 {
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
    ._mh-mob-15 {
      margin-left: 15px !important;
      margin-right: 15px !important;
    }
    ._mh-mob-20 {
      margin-left: 20px !important;
      margin-right: 20px !important;
    }
    ._mh-mob-25 {
      margin-left: 25px !important;
      margin-right: 25px !important;
    }
    ._mh-mob-30 {
      margin-left: 30px !important;
      margin-right: 30px !important;
    }
    ._mh-mob-40 {
      margin-left: 40px !important;
      margin-right: 40px !important;
    }
    ._mh-mob-45 {
      margin-left: 45px !important;
      margin-right: 45px !important;
    }
    ._mh-mob-50 {
      margin-left: 50px !important;
      margin-right: 50px !important;
    }
    ._mh-mob-60 {
      margin-left: 60px !important;
      margin-right: 60px !important;
    }
    ._mh-mob-70 {
      margin-left: 70px !important;
      margin-right: 70px !important;
    }
    ._mh-mob-80 {
      margin-left: 80px !important;
      margin-right: 80px !important;
    }
    ._mh-mob-90 {
      margin-left: 90px !important;
      margin-right: 90px !important;
    }
    ._mh-mob-100 {
      margin-left: 100px !important;
      margin-right: 100px !important;
    }
    ._mv-mob-a {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
    ._mv-mob-0 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
    ._mv-mob-5 {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    }
    ._mv-mob-10 {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
    ._mv-mob-15 {
      margin-top: 15px !important;
      margin-bottom: 15px !important;
    }
    ._mv-mob-20 {
      margin-top: 20px !important;
      margin-bottom: 20px !important;
    }
    ._mv-mob-25 {
      margin-top: 25px !important;
      margin-bottom: 25px !important;
    }
    ._mv-mob-30 {
      margin-top: 30px !important;
      margin-bottom: 30px !important;
    }
    ._mv-mob-40 {
      margin-top: 40px !important;
      margin-bottom: 40px !important;
    }
    ._mv-mob-45 {
      margin-top: 45px !important;
      margin-bottom: 45px !important;
    }
    ._mv-mob-50 {
      margin-top: 50px !important;
      margin-bottom: 50px !important;
    }
    ._mv-mob-60 {
      margin-top: 60px !important;
      margin-bottom: 60px !important;
    }
    ._mv-mob-70 {
      margin-top: 70px !important;
      margin-bottom: 70px !important;
    }
    ._mv-mob-80 {
      margin-top: 80px !important;
      margin-bottom: 80px !important;
    }
    ._mv-mob-90 {
      margin-top: 90px !important;
      margin-bottom: 90px !important;
    }
    ._mv-mob-100 {
      margin-top: 100px !important;
      margin-bottom: 100px !important;
    }
    ._mt-mob-a {
      margin-top: auto !important;
    }
    ._mt-mob-0 {
      margin-top: 0 !important;
    }
    ._mt-mob-5 {
      margin-top: 5px !important;
    }
    ._mt-mob-10 {
      margin-top: 10px !important;
    }
    ._mt-mob-15 {
      margin-top: 15px !important;
    }
    ._mt-mob-20 {
      margin-top: 20px !important;
    }
    ._mt-mob-25 {
      margin-top: 25px !important;
    }
    ._mt-mob-30 {
      margin-top: 30px !important;
    }
    ._mt-mob-40 {
      margin-top: 40px !important;
    }
    ._mt-mob-45 {
      margin-top: 45px !important;
    }
    ._mt-mob-50 {
      margin-top: 50px !important;
    }
    ._mt-mob-60 {
      margin-top: 60px !important;
    }
    ._mt-mob-70 {
      margin-top: 70px !important;
    }
    ._mt-mob-80 {
      margin-top: 80px !important;
    }
    ._mt-mob-90 {
      margin-top: 90px !important;
    }
    ._mt-mob-100 {
      margin-top: 100px !important;
    }
    ._mb-mob-a {
      margin-bottom: auto !important;
    }
    ._mb-mob-0 {
      margin-bottom: 0 !important;
    }
    ._mb-mob-5 {
      margin-bottom: 5px !important;
    }
    ._mb-mob-10 {
      margin-bottom: 10px !important;
    }
    ._mb-mob-15 {
      margin-bottom: 15px !important;
    }
    ._mb-mob-20 {
      margin-bottom: 20px !important;
    }
    ._mb-mob-25 {
      margin-bottom: 25px !important;
    }
    ._mb-mob-30 {
      margin-bottom: 30px !important;
    }
    ._mb-mob-40 {
      margin-bottom: 40px !important;
    }
    ._mb-mob-45 {
      margin-bottom: 45px !important;
    }
    ._mb-mob-50 {
      margin-bottom: 50px !important;
    }
    ._mb-mob-60 {
      margin-bottom: 60px !important;
    }
    ._mb-mob-70 {
      margin-bottom: 70px !important;
    }
    ._mb-mob-80 {
      margin-bottom: 80px !important;
    }
    ._mb-mob-90 {
      margin-bottom: 90px !important;
    }
    ._mb-mob-100 {
      margin-bottom: 100px !important;
    }
    ._ml-mob-a {
      margin-left: auto !important;
    }
    ._ml-mob-0 {
      margin-left: 0 !important;
    }
    ._ml-mob-5 {
      margin-left: 5px !important;
    }
    ._ml-mob-10 {
      margin-left: 10px !important;
    }
    ._ml-mob-15 {
      margin-left: 15px !important;
    }
    ._ml-mob-20 {
      margin-left: 20px !important;
    }
    ._ml-mob-25 {
      margin-left: 25px !important;
    }
    ._ml-mob-30 {
      margin-left: 30px !important;
    }
    ._ml-mob-40 {
      margin-left: 40px !important;
    }
    ._ml-mob-45 {
      margin-left: 45px !important;
    }
    ._ml-mob-50 {
      margin-left: 50px !important;
    }
    ._ml-mob-60 {
      margin-left: 60px !important;
    }
    ._ml-mob-70 {
      margin-left: 70px !important;
    }
    ._ml-mob-80 {
      margin-left: 80px !important;
    }
    ._ml-mob-90 {
      margin-left: 90px !important;
    }
    ._ml-mob-100 {
      margin-left: 100px !important;
    }
    ._mr-mob-a {
      margin-right: auto !important;
    }
    ._mr-mob-0 {
      margin-right: 0 !important;
    }
    ._mr-mob-5 {
      margin-right: 5px !important;
    }
    ._mr-mob-10 {
      margin-right: 10px !important;
    }
    ._mr-mob-15 {
      margin-right: 15px !important;
    }
    ._mr-mob-20 {
      margin-right: 20px !important;
    }
    ._mr-mob-25 {
      margin-right: 25px !important;
    }
    ._mr-mob-30 {
      margin-right: 30px !important;
    }
    ._mr-mob-40 {
      margin-right: 40px !important;
    }
    ._mr-mob-45 {
      margin-right: 45px !important;
    }
    ._mr-mob-50 {
      margin-right: 50px !important;
    }
    ._mr-mob-60 {
      margin-right: 60px !important;
    }
    ._mr-mob-70 {
      margin-right: 70px !important;
    }
    ._mr-mob-80 {
      margin-right: 80px !important;
    }
    ._mr-mob-90 {
      margin-right: 90px !important;
    }
    ._mr-mob-100 {
      margin-right: 100px !important;
    }
    ._mt-mob--5 {
      margin-top: -5px !important;
    }
    ._mt-mob--10 {
      margin-top: -10px !important;
    }
    ._mt-mob--15 {
      margin-top: -15px !important;
    }
    ._mt-mob--20 {
      margin-top: -20px !important;
    }
    ._mt-mob--25 {
      margin-top: -25px !important;
    }
    ._mt-mob--30 {
      margin-top: -30px !important;
    }
    ._mt-mob--40 {
      margin-top: -40px !important;
    }
    ._mt-mob--45 {
      margin-top: -45px !important;
    }
    ._mt-mob--50 {
      margin-top: -50px !important;
    }
    ._mt-mob--60 {
      margin-top: -60px !important;
    }
    ._mt-mob--70 {
      margin-top: -70px !important;
    }
    ._mt-mob--90 {
      margin-top: -90px !important;
    }
    ._mt-mob--100 {
      margin-top: -100px !important;
    }
    ._mb-mob--5 {
      margin-bottom: -5px !important;
    }
    ._mb-mob--10 {
      margin-bottom: -10px !important;
    }
    ._mb-mob--15 {
      margin-bottom: -15px !important;
    }
    ._mb-mob--20 {
      margin-bottom: -20px !important;
    }
    ._mb-mob--25 {
      margin-bottom: -25px !important;
    }
    ._mb-mob--30 {
      margin-bottom: -30px !important;
    }
    ._mb-mob--40 {
      margin-bottom: -40px !important;
    }
    ._mb-mob--45 {
      margin-bottom: -45px !important;
    }
    ._mb-mob--50 {
      margin-bottom: -50px !important;
    }
    ._mb-mob--60 {
      margin-bottom: -60px !important;
    }
    ._mb-mob--70 {
      margin-bottom: -70px !important;
    }
    ._mb-mob--90 {
      margin-bottom: -90px !important;
    }
    ._mb-mob--100 {
      margin-bottom: -100px !important;
    }
    ._ml-mob--5 {
      margin-left: -5px !important;
    }
    ._ml-mob--10 {
      margin-left: -10px !important;
    }
    ._ml-mob--15 {
      margin-left: -15px !important;
    }
    ._ml-mob--20 {
      margin-left: -20px !important;
    }
    ._ml-mob--25 {
      margin-left: -25px !important;
    }
    ._ml-mob--30 {
      margin-left: -30px !important;
    }
    ._ml-mob--40 {
      margin-left: -40px !important;
    }
    ._ml-mob--45 {
      margin-left: -45px !important;
    }
    ._ml-mob--50 {
      margin-left: -50px !important;
    }
    ._ml-mob--60 {
      margin-left: -60px !important;
    }
    ._ml-mob--70 {
      margin-left: -70px !important;
    }
    ._ml-mob--90 {
      margin-left: -90px !important;
    }
    ._ml-mob--100 {
      margin-left: -100px !important;
    }
    ._mr-mob--5 {
      margin-right: -5px !important;
    }
    ._mr-mob--10 {
      margin-right: -10px !important;
    }
    ._mr-mob--15 {
      margin-right: -15px !important;
    }
    ._mr-mob--20 {
      margin-right: -20px !important;
    }
    ._mr-mob--25 {
      margin-right: -25px !important;
    }
    ._mr-mob--30 {
      margin-right: -30px !important;
    }
    ._mr-mob--40 {
      margin-right: -40px !important;
    }
    ._mr-mob--45 {
      margin-right: -45px !important;
    }
    ._mr-mob--50 {
      margin-right: -50px !important;
    }
    ._mr-mob--60 {
      margin-right: -60px !important;
    }
    ._mr-mob--70 {
      margin-right: -70px !important;
    }
    ._mr-mob--90 {
      margin-right: -90px !important;
    }
    ._mr-mob--100 {
      margin-right: -100px !important;
    }
  }
  @media (min-width: 992px) {
    ._m-desk-a {
      margin: auto !important;
    }
    ._m-desk-0 {
      margin: 0 !important;
    }
    ._m-desk-5 {
      margin: 5px !important;
    }
    ._m-desk-10 {
      margin: 10px !important;
    }
    ._m-desk-15 {
      margin: 15px !important;
    }
    ._m-desk-20 {
      margin: 20px !important;
    }
    ._m-desk-25 {
      margin: 25px !important;
    }
    ._m-desk-30 {
      margin: 30px !important;
    }
    ._m-desk-40 {
      margin: 40px !important;
    }
    ._m-desk-45 {
      margin: 45px !important;
    }
    ._m-desk-50 {
      margin: 50px !important;
    }
    ._m-desk-60 {
      margin: 60px !important;
    }
    ._m-desk-70 {
      margin: 70px !important;
    }
    ._m-desk-80 {
      margin: 80px !important;
    }
    ._m-desk-90 {
      margin: 90px !important;
    }
    ._m-desk-100 {
      margin: 100px !important;
    }
    ._mh-desk-a {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    ._mh-desk-0 {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    ._mh-desk-5 {
      margin-left: 5px !important;
      margin-right: 5px !important;
    }
    ._mh-desk-10 {
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
    ._mh-desk-15 {
      margin-left: 15px !important;
      margin-right: 15px !important;
    }
    ._mh-desk-20 {
      margin-left: 20px !important;
      margin-right: 20px !important;
    }
    ._mh-desk-25 {
      margin-left: 25px !important;
      margin-right: 25px !important;
    }
    ._mh-desk-30 {
      margin-left: 30px !important;
      margin-right: 30px !important;
    }
    ._mh-desk-40 {
      margin-left: 40px !important;
      margin-right: 40px !important;
    }
    ._mh-desk-45 {
      margin-left: 45px !important;
      margin-right: 45px !important;
    }
    ._mh-desk-50 {
      margin-left: 50px !important;
      margin-right: 50px !important;
    }
    ._mh-desk-60 {
      margin-left: 60px !important;
      margin-right: 60px !important;
    }
    ._mh-desk-70 {
      margin-left: 70px !important;
      margin-right: 70px !important;
    }
    ._mh-desk-80 {
      margin-left: 80px !important;
      margin-right: 80px !important;
    }
    ._mh-desk-90 {
      margin-left: 90px !important;
      margin-right: 90px !important;
    }
    ._mh-desk-100 {
      margin-left: 100px !important;
      margin-right: 100px !important;
    }
    ._mv-desk-a {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
    ._mv-desk-0 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
    ._mv-desk-5 {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    }
    ._mv-desk-10 {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
    ._mv-desk-15 {
      margin-top: 15px !important;
      margin-bottom: 15px !important;
    }
    ._mv-desk-20 {
      margin-top: 20px !important;
      margin-bottom: 20px !important;
    }
    ._mv-desk-25 {
      margin-top: 25px !important;
      margin-bottom: 25px !important;
    }
    ._mv-desk-30 {
      margin-top: 30px !important;
      margin-bottom: 30px !important;
    }
    ._mv-desk-40 {
      margin-top: 40px !important;
      margin-bottom: 40px !important;
    }
    ._mv-desk-45 {
      margin-top: 45px !important;
      margin-bottom: 45px !important;
    }
    ._mv-desk-50 {
      margin-top: 50px !important;
      margin-bottom: 50px !important;
    }
    ._mv-desk-60 {
      margin-top: 60px !important;
      margin-bottom: 60px !important;
    }
    ._mv-desk-70 {
      margin-top: 70px !important;
      margin-bottom: 70px !important;
    }
    ._mv-desk-80 {
      margin-top: 80px !important;
      margin-bottom: 80px !important;
    }
    ._mv-desk-90 {
      margin-top: 90px !important;
      margin-bottom: 90px !important;
    }
    ._mv-desk-100 {
      margin-top: 100px !important;
      margin-bottom: 100px !important;
    }
    ._mt-desk-a {
      margin-top: auto !important;
    }
    ._mt-desk-0 {
      margin-top: 0 !important;
    }
    ._mt-desk-5 {
      margin-top: 5px !important;
    }
    ._mt-desk-10 {
      margin-top: 10px !important;
    }
    ._mt-desk-15 {
      margin-top: 15px !important;
    }
    ._mt-desk-20 {
      margin-top: 20px !important;
    }
    ._mt-desk-25 {
      margin-top: 25px !important;
    }
    ._mt-desk-30 {
      margin-top: 30px !important;
    }
    ._mt-desk-40 {
      margin-top: 40px !important;
    }
    ._mt-desk-45 {
      margin-top: 45px !important;
    }
    ._mt-desk-50 {
      margin-top: 50px !important;
    }
    ._mt-desk-60 {
      margin-top: 60px !important;
    }
    ._mt-desk-70 {
      margin-top: 70px !important;
    }
    ._mt-desk-80 {
      margin-top: 80px !important;
    }
    ._mt-desk-90 {
      margin-top: 90px !important;
    }
    ._mt-desk-100 {
      margin-top: 100px !important;
    }
    ._mb-desk-a {
      margin-bottom: auto !important;
    }
    ._mb-desk-0 {
      margin-bottom: 0 !important;
    }
    ._mb-desk-5 {
      margin-bottom: 5px !important;
    }
    ._mb-desk-10 {
      margin-bottom: 10px !important;
    }
    ._mb-desk-15 {
      margin-bottom: 15px !important;
    }
    ._mb-desk-20 {
      margin-bottom: 20px !important;
    }
    ._mb-desk-25 {
      margin-bottom: 25px !important;
    }
    ._mb-desk-30 {
      margin-bottom: 30px !important;
    }
    ._mb-desk-40 {
      margin-bottom: 40px !important;
    }
    ._mb-desk-45 {
      margin-bottom: 45px !important;
    }
    ._mb-desk-50 {
      margin-bottom: 50px !important;
    }
    ._mb-desk-60 {
      margin-bottom: 60px !important;
    }
    ._mb-desk-70 {
      margin-bottom: 70px !important;
    }
    ._mb-desk-80 {
      margin-bottom: 80px !important;
    }
    ._mb-desk-90 {
      margin-bottom: 90px !important;
    }
    ._mb-desk-100 {
      margin-bottom: 100px !important;
    }
    ._ml-desk-a {
      margin-left: auto !important;
    }
    ._ml-desk-0 {
      margin-left: 0 !important;
    }
    ._ml-desk-5 {
      margin-left: 5px !important;
    }
    ._ml-desk-10 {
      margin-left: 10px !important;
    }
    ._ml-desk-15 {
      margin-left: 15px !important;
    }
    ._ml-desk-20 {
      margin-left: 20px !important;
    }
    ._ml-desk-25 {
      margin-left: 25px !important;
    }
    ._ml-desk-30 {
      margin-left: 30px !important;
    }
    ._ml-desk-40 {
      margin-left: 40px !important;
    }
    ._ml-desk-45 {
      margin-left: 45px !important;
    }
    ._ml-desk-50 {
      margin-left: 50px !important;
    }
    ._ml-desk-60 {
      margin-left: 60px !important;
    }
    ._ml-desk-70 {
      margin-left: 70px !important;
    }
    ._ml-desk-80 {
      margin-left: 80px !important;
    }
    ._ml-desk-90 {
      margin-left: 90px !important;
    }
    ._ml-desk-100 {
      margin-left: 100px !important;
    }
    ._mr-desk-a {
      margin-right: auto !important;
    }
    ._mr-desk-0 {
      margin-right: 0 !important;
    }
    ._mr-desk-5 {
      margin-right: 5px !important;
    }
    ._mr-desk-10 {
      margin-right: 10px !important;
    }
    ._mr-desk-15 {
      margin-right: 15px !important;
    }
    ._mr-desk-20 {
      margin-right: 20px !important;
    }
    ._mr-desk-25 {
      margin-right: 25px !important;
    }
    ._mr-desk-30 {
      margin-right: 30px !important;
    }
    ._mr-desk-40 {
      margin-right: 40px !important;
    }
    ._mr-desk-45 {
      margin-right: 45px !important;
    }
    ._mr-desk-50 {
      margin-right: 50px !important;
    }
    ._mr-desk-60 {
      margin-right: 60px !important;
    }
    ._mr-desk-70 {
      margin-right: 70px !important;
    }
    ._mr-desk-80 {
      margin-right: 80px !important;
    }
    ._mr-desk-90 {
      margin-right: 90px !important;
    }
    ._mr-desk-100 {
      margin-right: 100px !important;
    }
  }
  ._p-0 {
    padding: 0 !important;
  }
  ._p-5 {
    padding: 5px !important;
  }
  ._p-10 {
    padding: 10px !important;
  }
  ._p-15 {
    padding: 15px !important;
  }
  ._p-20 {
    padding: 20px !important;
  }
  ._p-25 {
    padding: 25px !important;
  }
  ._p-30 {
    padding: 30px !important;
  }
  ._p-40 {
    padding: 40px !important;
  }
  ._p-45 {
    padding: 45px !important;
  }
  ._p-50 {
    padding: 50px !important;
  }
  ._p-60 {
    padding: 60px !important;
  }
  ._p-70 {
    padding: 70px !important;
  }
  ._p-80 {
    padding: 80px !important;
  }
  ._p-90 {
    padding: 90px !important;
  }
  ._p-100 {
    padding: 100px !important;
  }
  ._p-120 {
    padding: 120px !important;
  }
  ._p-150 {
    padding: 150px !important;
  }
  ._p-200 {
    padding: 200px !important;
  }
  ._p-250 {
    padding: 250px !important;
  }
  ._p-300 {
    padding: 300px !important;
  }
  ._p-400 {
    padding: 400px !important;
  }
  ._p-500 {
    padding: 500px !important;
  }
  ._p-600 {
    padding: 600px !important;
  }
  ._ph-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  ._ph-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  ._ph-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  ._ph-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  ._ph-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  ._ph-25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  ._ph-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  ._ph-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  ._ph-45 {
    padding-left: 45px !important;
    padding-right: 45px !important;
  }
  ._ph-50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  ._ph-60 {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
  ._ph-70 {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
  ._ph-80 {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
  ._ph-90 {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
  ._ph-100 {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  ._ph-120 {
    padding-left: 120px !important;
    padding-right: 120px !important;
  }
  ._ph-150 {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }
  ._ph-200 {
    padding-left: 200px !important;
    padding-right: 200px !important;
  }
  ._ph-250 {
    padding-left: 250px !important;
    padding-right: 250px !important;
  }
  ._ph-300 {
    padding-left: 300px !important;
    padding-right: 300px !important;
  }
  ._ph-400 {
    padding-left: 400px !important;
    padding-right: 400px !important;
  }
  ._ph-500 {
    padding-left: 500px !important;
    padding-right: 500px !important;
  }
  ._ph-600 {
    padding-left: 600px !important;
    padding-right: 600px !important;
  }
  ._pv-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  ._pv-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  ._pv-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  ._pv-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  ._pv-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  ._pv-25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
  ._pv-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  ._pv-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  ._pv-45 {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
  }
  ._pv-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  ._pv-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  ._pv-70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }
  ._pv-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
  ._pv-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
  }
  ._pv-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
  ._pv-120 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
  }
  ._pv-150 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
  }
  ._pv-200 {
    padding-top: 200px !important;
    padding-bottom: 200px !important;
  }
  ._pv-250 {
    padding-top: 250px !important;
    padding-bottom: 250px !important;
  }
  ._pv-300 {
    padding-top: 300px !important;
    padding-bottom: 300px !important;
  }
  ._pv-400 {
    padding-top: 400px !important;
    padding-bottom: 400px !important;
  }
  ._pv-500 {
    padding-top: 500px !important;
    padding-bottom: 500px !important;
  }
  ._pv-600 {
    padding-top: 600px !important;
    padding-bottom: 600px !important;
  }
  ._pt-0 {
    padding-top: 0 !important;
  }
  ._pt-5 {
    padding-top: 5px !important;
  }
  ._pt-10 {
    padding-top: 10px !important;
  }
  ._pt-15 {
    padding-top: 15px !important;
  }
  ._pt-20 {
    padding-top: 20px !important;
  }
  ._pt-25 {
    padding-top: 25px !important;
  }
  ._pt-30 {
    padding-top: 30px !important;
  }
  ._pt-40 {
    padding-top: 40px !important;
  }
  ._pt-45 {
    padding-top: 45px !important;
  }
  ._pt-50 {
    padding-top: 50px !important;
  }
  ._pt-60 {
    padding-top: 60px !important;
  }
  ._pt-70 {
    padding-top: 70px !important;
  }
  ._pt-80 {
    padding-top: 80px !important;
  }
  ._pt-90 {
    padding-top: 90px !important;
  }
  ._pt-100 {
    padding-top: 100px !important;
  }
  ._pt-120 {
    padding-top: 120px !important;
  }
  ._pt-150 {
    padding-top: 150px !important;
  }
  ._pt-200 {
    padding-top: 200px !important;
  }
  ._pt-250 {
    padding-top: 250px !important;
  }
  ._pt-300 {
    padding-top: 300px !important;
  }
  ._pt-400 {
    padding-top: 400px !important;
  }
  ._pt-500 {
    padding-top: 500px !important;
  }
  ._pt-600 {
    padding-top: 600px !important;
  }
  ._pb-0 {
    padding-bottom: 0 !important;
  }
  ._pb-5 {
    padding-bottom: 5px !important;
  }
  ._pb-10 {
    padding-bottom: 10px !important;
  }
  ._pb-15 {
    padding-bottom: 15px !important;
  }
  ._pb-20 {
    padding-bottom: 20px !important;
  }
  ._pb-25 {
    padding-bottom: 25px !important;
  }
  ._pb-30 {
    padding-bottom: 30px !important;
  }
  ._pb-40 {
    padding-bottom: 40px !important;
  }
  ._pb-45 {
    padding-bottom: 45px !important;
  }
  ._pb-50 {
    padding-bottom: 50px !important;
  }
  ._pb-60 {
    padding-bottom: 60px !important;
  }
  ._pb-70 {
    padding-bottom: 70px !important;
  }
  ._pb-80 {
    padding-bottom: 80px !important;
  }
  ._pb-90 {
    padding-bottom: 90px !important;
  }
  ._pb-100 {
    padding-bottom: 100px !important;
  }
  ._pb-120 {
    padding-bottom: 120px !important;
  }
  ._pb-150 {
    padding-bottom: 150px !important;
  }
  ._pb-200 {
    padding-bottom: 200px !important;
  }
  ._pb-250 {
    padding-bottom: 250px !important;
  }
  ._pb-300 {
    padding-bottom: 300px !important;
  }
  ._pb-400 {
    padding-bottom: 400px !important;
  }
  ._pb-500 {
    padding-bottom: 500px !important;
  }
  ._pb-600 {
    padding-bottom: 600px !important;
  }
  ._pl-0 {
    padding-left: 0 !important;
  }
  ._pl-5 {
    padding-left: 5px !important;
  }
  ._pl-10 {
    padding-left: 10px !important;
  }
  ._pl-15 {
    padding-left: 15px !important;
  }
  ._pl-20 {
    padding-left: 20px !important;
  }
  ._pl-25 {
    padding-left: 25px !important;
  }
  ._pl-30 {
    padding-left: 30px !important;
  }
  ._pl-40 {
    padding-left: 40px !important;
  }
  ._pl-45 {
    padding-left: 45px !important;
  }
  ._pl-50 {
    padding-left: 50px !important;
  }
  ._pl-60 {
    padding-left: 60px !important;
  }
  ._pl-70 {
    padding-left: 70px !important;
  }
  ._pl-80 {
    padding-left: 80px !important;
  }
  ._pl-90 {
    padding-left: 90px !important;
  }
  ._pl-100 {
    padding-left: 100px !important;
  }
  ._pl-120 {
    padding-left: 120px !important;
  }
  ._pl-150 {
    padding-left: 150px !important;
  }
  ._pl-200 {
    padding-left: 200px !important;
  }
  ._pl-250 {
    padding-left: 250px !important;
  }
  ._pl-300 {
    padding-left: 300px !important;
  }
  ._pl-400 {
    padding-left: 400px !important;
  }
  ._pl-500 {
    padding-left: 500px !important;
  }
  ._pl-600 {
    padding-left: 600px !important;
  }
  ._pr-0 {
    padding-right: 0 !important;
  }
  ._pr-5 {
    padding-right: 5px !important;
  }
  ._pr-10 {
    padding-right: 10px !important;
  }
  ._pr-15 {
    padding-right: 15px !important;
  }
  ._pr-20 {
    padding-right: 20px !important;
  }
  ._pr-25 {
    padding-right: 25px !important;
  }
  ._pr-30 {
    padding-right: 30px !important;
  }
  ._pr-40 {
    padding-right: 40px !important;
  }
  ._pr-45 {
    padding-right: 45px !important;
  }
  ._pr-50 {
    padding-right: 50px !important;
  }
  ._pr-60 {
    padding-right: 60px !important;
  }
  ._pr-70 {
    padding-right: 70px !important;
  }
  ._pr-80 {
    padding-right: 80px !important;
  }
  ._pr-90 {
    padding-right: 90px !important;
  }
  ._pr-100 {
    padding-right: 100px !important;
  }
  ._pr-120 {
    padding-right: 120px !important;
  }
  ._pr-150 {
    padding-right: 150px !important;
  }
  ._pr-200 {
    padding-right: 200px !important;
  }
  ._pr-250 {
    padding-right: 250px !important;
  }
  ._pr-300 {
    padding-right: 300px !important;
  }
  ._pr-400 {
    padding-right: 400px !important;
  }
  ._pr-500 {
    padding-right: 500px !important;
  }
  ._pr-600 {
    padding-right: 600px !important;
  }
  @media (max-width: 992px) {
    ._p-mob-0 {
      padding: 0 !important;
    }
    ._p-mob-5 {
      padding: 5px !important;
    }
    ._p-mob-10 {
      padding: 10px !important;
    }
    ._p-mob-15 {
      padding: 15px !important;
    }
    ._p-mob-20 {
      padding: 20px !important;
    }
    ._p-mob-25 {
      padding: 25px !important;
    }
    ._p-mob-30 {
      padding: 30px !important;
    }
    ._p-mob-40 {
      padding: 40px !important;
    }
    ._p-mob-45 {
      padding: 45px !important;
    }
    ._p-mob-50 {
      padding: 50px !important;
    }
    ._p-mob-60 {
      padding: 60px !important;
    }
    ._p-mob-70 {
      padding: 70px !important;
    }
    ._p-mob-80 {
      padding: 80px !important;
    }
    ._p-mob-90 {
      padding: 90px !important;
    }
    ._p-mob-100 {
      padding: 100px !important;
    }
    ._p-mob-120 {
      padding: 120px !important;
    }
    ._p-mob-150 {
      padding: 150px !important;
    }
    ._p-mob-200 {
      padding: 200px !important;
    }
    ._p-mob-250 {
      padding: 250px !important;
    }
    ._p-mob-300 {
      padding: 300px !important;
    }
    ._p-mob-400 {
      padding: 400px !important;
    }
    ._p-mob-500 {
      padding: 500px !important;
    }
    ._p-mob-600 {
      padding: 600px !important;
    }
    ._ph-mob-0 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    ._ph-mob-5 {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    ._ph-mob-10 {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    ._ph-mob-15 {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    ._ph-mob-20 {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    ._ph-mob-25 {
      padding-left: 25px !important;
      padding-right: 25px !important;
    }
    ._ph-mob-30 {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    ._ph-mob-40 {
      padding-left: 40px !important;
      padding-right: 40px !important;
    }
    ._ph-mob-45 {
      padding-left: 45px !important;
      padding-right: 45px !important;
    }
    ._ph-mob-50 {
      padding-left: 50px !important;
      padding-right: 50px !important;
    }
    ._ph-mob-60 {
      padding-left: 60px !important;
      padding-right: 60px !important;
    }
    ._ph-mob-70 {
      padding-left: 70px !important;
      padding-right: 70px !important;
    }
    ._ph-mob-80 {
      padding-left: 80px !important;
      padding-right: 80px !important;
    }
    ._ph-mob-90 {
      padding-left: 90px !important;
      padding-right: 90px !important;
    }
    ._ph-mob-100 {
      padding-left: 100px !important;
      padding-right: 100px !important;
    }
    ._ph-mob-120 {
      padding-left: 120px !important;
      padding-right: 120px !important;
    }
    ._ph-mob-150 {
      padding-left: 150px !important;
      padding-right: 150px !important;
    }
    ._ph-mob-200 {
      padding-left: 200px !important;
      padding-right: 200px !important;
    }
    ._ph-mob-250 {
      padding-left: 250px !important;
      padding-right: 250px !important;
    }
    ._ph-mob-300 {
      padding-left: 300px !important;
      padding-right: 300px !important;
    }
    ._ph-mob-400 {
      padding-left: 400px !important;
      padding-right: 400px !important;
    }
    ._ph-mob-500 {
      padding-left: 500px !important;
      padding-right: 500px !important;
    }
    ._ph-mob-600 {
      padding-left: 600px !important;
      padding-right: 600px !important;
    }
    ._pv-mob-0 {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    ._pv-mob-5 {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }
    ._pv-mob-10 {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    ._pv-mob-15 {
      padding-top: 15px !important;
      padding-bottom: 15px !important;
    }
    ._pv-mob-20 {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
    ._pv-mob-25 {
      padding-top: 25px !important;
      padding-bottom: 25px !important;
    }
    ._pv-mob-30 {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
    }
    ._pv-mob-40 {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
    }
    ._pv-mob-45 {
      padding-top: 45px !important;
      padding-bottom: 45px !important;
    }
    ._pv-mob-50 {
      padding-top: 50px !important;
      padding-bottom: 50px !important;
    }
    ._pv-mob-60 {
      padding-top: 60px !important;
      padding-bottom: 60px !important;
    }
    ._pv-mob-70 {
      padding-top: 70px !important;
      padding-bottom: 70px !important;
    }
    ._pv-mob-80 {
      padding-top: 80px !important;
      padding-bottom: 80px !important;
    }
    ._pv-mob-90 {
      padding-top: 90px !important;
      padding-bottom: 90px !important;
    }
    ._pv-mob-100 {
      padding-top: 100px !important;
      padding-bottom: 100px !important;
    }
    ._pv-mob-120 {
      padding-top: 120px !important;
      padding-bottom: 120px !important;
    }
    ._pv-mob-150 {
      padding-top: 150px !important;
      padding-bottom: 150px !important;
    }
    ._pv-mob-200 {
      padding-top: 200px !important;
      padding-bottom: 200px !important;
    }
    ._pv-mob-250 {
      padding-top: 250px !important;
      padding-bottom: 250px !important;
    }
    ._pv-mob-300 {
      padding-top: 300px !important;
      padding-bottom: 300px !important;
    }
    ._pv-mob-400 {
      padding-top: 400px !important;
      padding-bottom: 400px !important;
    }
    ._pv-mob-500 {
      padding-top: 500px !important;
      padding-bottom: 500px !important;
    }
    ._pv-mob-600 {
      padding-top: 600px !important;
      padding-bottom: 600px !important;
    }
    ._pt-mob-0 {
      padding-top: 0 !important;
    }
    ._pt-mob-5 {
      padding-top: 5px !important;
    }
    ._pt-mob-10 {
      padding-top: 10px !important;
    }
    ._pt-mob-15 {
      padding-top: 15px !important;
    }
    ._pt-mob-20 {
      padding-top: 20px !important;
    }
    ._pt-mob-25 {
      padding-top: 25px !important;
    }
    ._pt-mob-30 {
      padding-top: 30px !important;
    }
    ._pt-mob-40 {
      padding-top: 40px !important;
    }
    ._pt-mob-45 {
      padding-top: 45px !important;
    }
    ._pt-mob-50 {
      padding-top: 50px !important;
    }
    ._pt-mob-60 {
      padding-top: 60px !important;
    }
    ._pt-mob-70 {
      padding-top: 70px !important;
    }
    ._pt-mob-80 {
      padding-top: 80px !important;
    }
    ._pt-mob-90 {
      padding-top: 90px !important;
    }
    ._pt-mob-100 {
      padding-top: 100px !important;
    }
    ._pt-mob-120 {
      padding-top: 120px !important;
    }
    ._pt-mob-150 {
      padding-top: 150px !important;
    }
    ._pt-mob-200 {
      padding-top: 200px !important;
    }
    ._pt-mob-250 {
      padding-top: 250px !important;
    }
    ._pt-mob-300 {
      padding-top: 300px !important;
    }
    ._pt-mob-400 {
      padding-top: 400px !important;
    }
    ._pt-mob-500 {
      padding-top: 500px !important;
    }
    ._pt-mob-600 {
      padding-top: 600px !important;
    }
    ._pb-mob-0 {
      padding-bottom: 0 !important;
    }
    ._pb-mob-5 {
      padding-bottom: 5px !important;
    }
    ._pb-mob-10 {
      padding-bottom: 10px !important;
    }
    ._pb-mob-15 {
      padding-bottom: 15px !important;
    }
    ._pb-mob-20 {
      padding-bottom: 20px !important;
    }
    ._pb-mob-25 {
      padding-bottom: 25px !important;
    }
    ._pb-mob-30 {
      padding-bottom: 30px !important;
    }
    ._pb-mob-40 {
      padding-bottom: 40px !important;
    }
    ._pb-mob-45 {
      padding-bottom: 45px !important;
    }
    ._pb-mob-50 {
      padding-bottom: 50px !important;
    }
    ._pb-mob-60 {
      padding-bottom: 60px !important;
    }
    ._pb-mob-70 {
      padding-bottom: 70px !important;
    }
    ._pb-mob-80 {
      padding-bottom: 80px !important;
    }
    ._pb-mob-90 {
      padding-bottom: 90px !important;
    }
    ._pb-mob-100 {
      padding-bottom: 100px !important;
    }
    ._pb-mob-120 {
      padding-bottom: 120px !important;
    }
    ._pb-mob-150 {
      padding-bottom: 150px !important;
    }
    ._pb-mob-200 {
      padding-bottom: 200px !important;
    }
    ._pb-mob-250 {
      padding-bottom: 250px !important;
    }
    ._pb-mob-300 {
      padding-bottom: 300px !important;
    }
    ._pb-mob-400 {
      padding-bottom: 400px !important;
    }
    ._pb-mob-500 {
      padding-bottom: 500px !important;
    }
    ._pb-mob-600 {
      padding-bottom: 600px !important;
    }
    ._pl-mob-0 {
      padding-left: 0 !important;
    }
    ._pl-mob-5 {
      padding-left: 5px !important;
    }
    ._pl-mob-10 {
      padding-left: 10px !important;
    }
    ._pl-mob-15 {
      padding-left: 15px !important;
    }
    ._pl-mob-20 {
      padding-left: 20px !important;
    }
    ._pl-mob-25 {
      padding-left: 25px !important;
    }
    ._pl-mob-30 {
      padding-left: 30px !important;
    }
    ._pl-mob-40 {
      padding-left: 40px !important;
    }
    ._pl-mob-45 {
      padding-left: 45px !important;
    }
    ._pl-mob-50 {
      padding-left: 50px !important;
    }
    ._pl-mob-60 {
      padding-left: 60px !important;
    }
    ._pl-mob-70 {
      padding-left: 70px !important;
    }
    ._pl-mob-80 {
      padding-left: 80px !important;
    }
    ._pl-mob-90 {
      padding-left: 90px !important;
    }
    ._pl-mob-100 {
      padding-left: 100px !important;
    }
    ._pl-mob-120 {
      padding-left: 120px !important;
    }
    ._pl-mob-150 {
      padding-left: 150px !important;
    }
    ._pl-mob-200 {
      padding-left: 200px !important;
    }
    ._pl-mob-250 {
      padding-left: 250px !important;
    }
    ._pl-mob-300 {
      padding-left: 300px !important;
    }
    ._pl-mob-400 {
      padding-left: 400px !important;
    }
    ._pl-mob-500 {
      padding-left: 500px !important;
    }
    ._pl-mob-600 {
      padding-left: 600px !important;
    }
    ._pr-mob-0 {
      padding-right: 0 !important;
    }
    ._pr-mob-5 {
      padding-right: 5px !important;
    }
    ._pr-mob-10 {
      padding-right: 10px !important;
    }
    ._pr-mob-15 {
      padding-right: 15px !important;
    }
    ._pr-mob-20 {
      padding-right: 20px !important;
    }
    ._pr-mob-25 {
      padding-right: 25px !important;
    }
    ._pr-mob-30 {
      padding-right: 30px !important;
    }
    ._pr-mob-40 {
      padding-right: 40px !important;
    }
    ._pr-mob-45 {
      padding-right: 45px !important;
    }
    ._pr-mob-50 {
      padding-right: 50px !important;
    }
    ._pr-mob-60 {
      padding-right: 60px !important;
    }
    ._pr-mob-70 {
      padding-right: 70px !important;
    }
    ._pr-mob-80 {
      padding-right: 80px !important;
    }
    ._pr-mob-90 {
      padding-right: 90px !important;
    }
    ._pr-mob-100 {
      padding-right: 100px !important;
    }
    ._pr-mob-120 {
      padding-right: 120px !important;
    }
    ._pr-mob-150 {
      padding-right: 150px !important;
    }
    ._pr-mob-200 {
      padding-right: 200px !important;
    }
    ._pr-mob-250 {
      padding-right: 250px !important;
    }
    ._pr-mob-300 {
      padding-right: 300px !important;
    }
    ._pr-mob-400 {
      padding-right: 400px !important;
    }
    ._pr-mob-500 {
      padding-right: 500px !important;
    }
    ._pr-mob-600 {
      padding-right: 600px !important;
    }
  }
  @media (min-width: 992px) {
    ._p-desk-0 {
      padding: 0 !important;
    }
    ._p-desk-5 {
      padding: 5px !important;
    }
    ._p-desk-10 {
      padding: 10px !important;
    }
    ._p-desk-15 {
      padding: 15px !important;
    }
    ._p-desk-20 {
      padding: 20px !important;
    }
    ._p-desk-25 {
      padding: 25px !important;
    }
    ._p-desk-30 {
      padding: 30px !important;
    }
    ._p-desk-40 {
      padding: 40px !important;
    }
    ._p-desk-45 {
      padding: 45px !important;
    }
    ._p-desk-50 {
      padding: 50px !important;
    }
    ._p-desk-60 {
      padding: 60px !important;
    }
    ._p-desk-70 {
      padding: 70px !important;
    }
    ._p-desk-80 {
      padding: 80px !important;
    }
    ._p-desk-90 {
      padding: 90px !important;
    }
    ._p-desk-100 {
      padding: 100px !important;
    }
    ._p-desk-120 {
      padding: 120px !important;
    }
    ._p-desk-150 {
      padding: 150px !important;
    }
    ._p-desk-200 {
      padding: 200px !important;
    }
    ._p-desk-250 {
      padding: 250px !important;
    }
    ._p-desk-300 {
      padding: 300px !important;
    }
    ._p-desk-400 {
      padding: 400px !important;
    }
    ._p-desk-500 {
      padding: 500px !important;
    }
    ._p-desk-600 {
      padding: 600px !important;
    }
    ._ph-desk-0 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    ._ph-desk-5 {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    ._ph-desk-10 {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    ._ph-desk-15 {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    ._ph-desk-20 {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    ._ph-desk-25 {
      padding-left: 25px !important;
      padding-right: 25px !important;
    }
    ._ph-desk-30 {
      padding-left: 30px !important;
      padding-right: 30px !important;
    }
    ._ph-desk-40 {
      padding-left: 40px !important;
      padding-right: 40px !important;
    }
    ._ph-desk-45 {
      padding-left: 45px !important;
      padding-right: 45px !important;
    }
    ._ph-desk-50 {
      padding-left: 50px !important;
      padding-right: 50px !important;
    }
    ._ph-desk-60 {
      padding-left: 60px !important;
      padding-right: 60px !important;
    }
    ._ph-desk-70 {
      padding-left: 70px !important;
      padding-right: 70px !important;
    }
    ._ph-desk-80 {
      padding-left: 80px !important;
      padding-right: 80px !important;
    }
    ._ph-desk-90 {
      padding-left: 90px !important;
      padding-right: 90px !important;
    }
    ._ph-desk-100 {
      padding-left: 100px !important;
      padding-right: 100px !important;
    }
    ._ph-desk-120 {
      padding-left: 120px !important;
      padding-right: 120px !important;
    }
    ._ph-desk-150 {
      padding-left: 150px !important;
      padding-right: 150px !important;
    }
    ._ph-desk-200 {
      padding-left: 200px !important;
      padding-right: 200px !important;
    }
    ._ph-desk-250 {
      padding-left: 250px !important;
      padding-right: 250px !important;
    }
    ._ph-desk-300 {
      padding-left: 300px !important;
      padding-right: 300px !important;
    }
    ._ph-desk-400 {
      padding-left: 400px !important;
      padding-right: 400px !important;
    }
    ._ph-desk-500 {
      padding-left: 500px !important;
      padding-right: 500px !important;
    }
    ._ph-desk-600 {
      padding-left: 600px !important;
      padding-right: 600px !important;
    }
    ._pv-desk-0 {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    ._pv-desk-5 {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }
    ._pv-desk-10 {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    ._pv-desk-15 {
      padding-top: 15px !important;
      padding-bottom: 15px !important;
    }
    ._pv-desk-20 {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
    ._pv-desk-25 {
      padding-top: 25px !important;
      padding-bottom: 25px !important;
    }
    ._pv-desk-30 {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
    }
    ._pv-desk-40 {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
    }
    ._pv-desk-45 {
      padding-top: 45px !important;
      padding-bottom: 45px !important;
    }
    ._pv-desk-50 {
      padding-top: 50px !important;
      padding-bottom: 50px !important;
    }
    ._pv-desk-60 {
      padding-top: 60px !important;
      padding-bottom: 60px !important;
    }
    ._pv-desk-70 {
      padding-top: 70px !important;
      padding-bottom: 70px !important;
    }
    ._pv-desk-80 {
      padding-top: 80px !important;
      padding-bottom: 80px !important;
    }
    ._pv-desk-90 {
      padding-top: 90px !important;
      padding-bottom: 90px !important;
    }
    ._pv-desk-100 {
      padding-top: 100px !important;
      padding-bottom: 100px !important;
    }
    ._pv-desk-120 {
      padding-top: 120px !important;
      padding-bottom: 120px !important;
    }
    ._pv-desk-150 {
      padding-top: 150px !important;
      padding-bottom: 150px !important;
    }
    ._pv-desk-200 {
      padding-top: 200px !important;
      padding-bottom: 200px !important;
    }
    ._pv-desk-250 {
      padding-top: 250px !important;
      padding-bottom: 250px !important;
    }
    ._pv-desk-300 {
      padding-top: 300px !important;
      padding-bottom: 300px !important;
    }
    ._pv-desk-400 {
      padding-top: 400px !important;
      padding-bottom: 400px !important;
    }
    ._pv-desk-500 {
      padding-top: 500px !important;
      padding-bottom: 500px !important;
    }
    ._pv-desk-600 {
      padding-top: 600px !important;
      padding-bottom: 600px !important;
    }
    ._pt-desk-0 {
      padding-top: 0 !important;
    }
    ._pt-desk-5 {
      padding-top: 5px !important;
    }
    ._pt-desk-10 {
      padding-top: 10px !important;
    }
    ._pt-desk-15 {
      padding-top: 15px !important;
    }
    ._pt-desk-20 {
      padding-top: 20px !important;
    }
    ._pt-desk-25 {
      padding-top: 25px !important;
    }
    ._pt-desk-30 {
      padding-top: 30px !important;
    }
    ._pt-desk-40 {
      padding-top: 40px !important;
    }
    ._pt-desk-45 {
      padding-top: 45px !important;
    }
    ._pt-desk-50 {
      padding-top: 50px !important;
    }
    ._pt-desk-60 {
      padding-top: 60px !important;
    }
    ._pt-desk-70 {
      padding-top: 70px !important;
    }
    ._pt-desk-80 {
      padding-top: 80px !important;
    }
    ._pt-desk-90 {
      padding-top: 90px !important;
    }
    ._pt-desk-100 {
      padding-top: 100px !important;
    }
    ._pt-desk-120 {
      padding-top: 120px !important;
    }
    ._pt-desk-150 {
      padding-top: 150px !important;
    }
    ._pt-desk-200 {
      padding-top: 200px !important;
    }
    ._pt-desk-250 {
      padding-top: 250px !important;
    }
    ._pt-desk-300 {
      padding-top: 300px !important;
    }
    ._pt-desk-400 {
      padding-top: 400px !important;
    }
    ._pt-desk-500 {
      padding-top: 500px !important;
    }
    ._pt-desk-600 {
      padding-top: 600px !important;
    }
    ._pb-desk-0 {
      padding-bottom: 0 !important;
    }
    ._pb-desk-5 {
      padding-bottom: 5px !important;
    }
    ._pb-desk-10 {
      padding-bottom: 10px !important;
    }
    ._pb-desk-15 {
      padding-bottom: 15px !important;
    }
    ._pb-desk-20 {
      padding-bottom: 20px !important;
    }
    ._pb-desk-25 {
      padding-bottom: 25px !important;
    }
    ._pb-desk-30 {
      padding-bottom: 30px !important;
    }
    ._pb-desk-40 {
      padding-bottom: 40px !important;
    }
    ._pb-desk-45 {
      padding-bottom: 45px !important;
    }
    ._pb-desk-50 {
      padding-bottom: 50px !important;
    }
    ._pb-desk-60 {
      padding-bottom: 60px !important;
    }
    ._pb-desk-70 {
      padding-bottom: 70px !important;
    }
    ._pb-desk-80 {
      padding-bottom: 80px !important;
    }
    ._pb-desk-90 {
      padding-bottom: 90px !important;
    }
    ._pb-desk-100 {
      padding-bottom: 100px !important;
    }
    ._pb-desk-120 {
      padding-bottom: 120px !important;
    }
    ._pb-desk-150 {
      padding-bottom: 150px !important;
    }
    ._pb-desk-200 {
      padding-bottom: 200px !important;
    }
    ._pb-desk-250 {
      padding-bottom: 250px !important;
    }
    ._pb-desk-300 {
      padding-bottom: 300px !important;
    }
    ._pb-desk-400 {
      padding-bottom: 400px !important;
    }
    ._pb-desk-500 {
      padding-bottom: 500px !important;
    }
    ._pb-desk-600 {
      padding-bottom: 600px !important;
    }
    ._pl-desk-0 {
      padding-left: 0 !important;
    }
    ._pl-desk-5 {
      padding-left: 5px !important;
    }
    ._pl-desk-10 {
      padding-left: 10px !important;
    }
    ._pl-desk-15 {
      padding-left: 15px !important;
    }
    ._pl-desk-20 {
      padding-left: 20px !important;
    }
    ._pl-desk-25 {
      padding-left: 25px !important;
    }
    ._pl-desk-30 {
      padding-left: 30px !important;
    }
    ._pl-desk-40 {
      padding-left: 40px !important;
    }
    ._pl-desk-45 {
      padding-left: 45px !important;
    }
    ._pl-desk-50 {
      padding-left: 50px !important;
    }
    ._pl-desk-60 {
      padding-left: 60px !important;
    }
    ._pl-desk-70 {
      padding-left: 70px !important;
    }
    ._pl-desk-80 {
      padding-left: 80px !important;
    }
    ._pl-desk-90 {
      padding-left: 90px !important;
    }
    ._pl-desk-100 {
      padding-left: 100px !important;
    }
    ._pl-desk-120 {
      padding-left: 120px !important;
    }
    ._pl-desk-150 {
      padding-left: 150px !important;
    }
    ._pl-desk-200 {
      padding-left: 200px !important;
    }
    ._pl-desk-250 {
      padding-left: 250px !important;
    }
    ._pl-desk-300 {
      padding-left: 300px !important;
    }
    ._pl-desk-400 {
      padding-left: 400px !important;
    }
    ._pl-desk-500 {
      padding-left: 500px !important;
    }
    ._pl-desk-600 {
      padding-left: 600px !important;
    }
    ._pr-desk-0 {
      padding-right: 0 !important;
    }
    ._pr-desk-5 {
      padding-right: 5px !important;
    }
    ._pr-desk-10 {
      padding-right: 10px !important;
    }
    ._pr-desk-15 {
      padding-right: 15px !important;
    }
    ._pr-desk-20 {
      padding-right: 20px !important;
    }
    ._pr-desk-25 {
      padding-right: 25px !important;
    }
    ._pr-desk-30 {
      padding-right: 30px !important;
    }
    ._pr-desk-40 {
      padding-right: 40px !important;
    }
    ._pr-desk-45 {
      padding-right: 45px !important;
    }
    ._pr-desk-50 {
      padding-right: 50px !important;
    }
    ._pr-desk-60 {
      padding-right: 60px !important;
    }
    ._pr-desk-70 {
      padding-right: 70px !important;
    }
    ._pr-desk-80 {
      padding-right: 80px !important;
    }
    ._pr-desk-90 {
      padding-right: 90px !important;
    }
    ._pr-desk-100 {
      padding-right: 100px !important;
    }
    ._pr-desk-120 {
      padding-right: 120px !important;
    }
    ._pr-desk-150 {
      padding-right: 150px !important;
    }
    ._pr-desk-200 {
      padding-right: 200px !important;
    }
    ._pr-desk-250 {
      padding-right: 250px !important;
    }
    ._pr-desk-300 {
      padding-right: 300px !important;
    }
    ._pr-desk-400 {
      padding-right: 400px !important;
    }
    ._pr-desk-500 {
      padding-right: 500px !important;
    }
    ._pr-desk-600 {
      padding-right: 600px !important;
    }
  }
  ._h-10vh {
    height: 10vh !important;
  }
  ._h-15vh {
    height: 15vh !important;
  }
  ._h-20vh {
    height: 20vh !important;
  }
  ._h-25vh {
    height: 25vh !important;
  }
  ._h-30vh {
    height: 30vh !important;
  }
  ._h-33vh {
    height: 33vh !important;
  }
  ._h-40vh {
    height: 40vh !important;
  }
  ._h-45vh {
    height: 45vh !important;
  }
  ._h-50vh {
    height: 50vh !important;
  }
  ._h-60vh {
    height: 60vh !important;
  }
  ._h-66vh {
    height: 66vh !important;
  }
  ._h-75vh {
    height: 75vh !important;
  }
  ._h-80vh {
    height: 80vh !important;
  }
  ._h-100vh {
    height: 100vh !important;
  }
  ._h-120vh {
    height: 120vh !important;
  }
  ._h-10pct {
    height: 10% !important;
  }
  ._h-15pct {
    height: 15% !important;
  }
  ._h-20pct {
    height: 20% !important;
  }
  ._h-25pct {
    height: 25% !important;
  }
  ._h-30pct {
    height: 30% !important;
  }
  ._h-33pct {
    height: 33% !important;
  }
  ._h-40pct {
    height: 40% !important;
  }
  ._h-45pct {
    height: 45% !important;
  }
  ._h-50pct {
    height: 50% !important;
  }
  ._h-60pct {
    height: 60% !important;
  }
  ._h-66pct {
    height: 66% !important;
  }
  ._h-75pct {
    height: 75% !important;
  }
  ._h-80pct {
    height: 80% !important;
  }
  ._h-100pct {
    height: 100% !important;
  }
  ._h-120pct {
    height: 120% !important;
  }
  @media (min-width: 992px) {
    ._h-desk-10vh {
      height: 10vh !important;
    }
    ._h-desk-15vh {
      height: 15vh !important;
    }
    ._h-desk-20vh {
      height: 20vh !important;
    }
    ._h-desk-25vh {
      height: 25vh !important;
    }
    ._h-desk-30vh {
      height: 30vh !important;
    }
    ._h-desk-33vh {
      height: 33vh !important;
    }
    ._h-desk-40vh {
      height: 40vh !important;
    }
    ._h-desk-45vh {
      height: 45vh !important;
    }
    ._h-desk-50vh {
      height: 50vh !important;
    }
    ._h-desk-60vh {
      height: 60vh !important;
    }
    ._h-desk-66vh {
      height: 66vh !important;
    }
    ._h-desk-75vh {
      height: 75vh !important;
    }
    ._h-desk-80vh {
      height: 80vh !important;
    }
    ._h-desk-100vh {
      height: 100vh !important;
    }
    ._h-desk-120vh {
      height: 120vh !important;
    }
  }
  @media (max-width: 992px) {
    ._h-mob-10vh {
      height: 10vh !important;
    }
    ._h-mob-15vh {
      height: 15vh !important;
    }
    ._h-mob-20vh {
      height: 20vh !important;
    }
    ._h-mob-25vh {
      height: 25vh !important;
    }
    ._h-mob-30vh {
      height: 30vh !important;
    }
    ._h-mob-33vh {
      height: 33vh !important;
    }
    ._h-mob-40vh {
      height: 40vh !important;
    }
    ._h-mob-45vh {
      height: 45vh !important;
    }
    ._h-mob-50vh {
      height: 50vh !important;
    }
    ._h-mob-60vh {
      height: 60vh !important;
    }
    ._h-mob-66vh {
      height: 66vh !important;
    }
    ._h-mob-75vh {
      height: 75vh !important;
    }
    ._h-mob-80vh {
      height: 80vh !important;
    }
    ._h-mob-100vh {
      height: 100vh !important;
    }
    ._h-mob-120vh {
      height: 120vh !important;
    }
  }
  ._h-a {
    height: auto !important;
  }
  @media (max-width: 992px) {
    ._h-mob-a {
      height: auto !important;
    }
  }
  ._w-10pct {
    width: 10% !important;
  }
  ._w-15pct {
    width: 15% !important;
  }
  ._w-20pct {
    width: 20% !important;
  }
  ._w-25pct {
    width: 25% !important;
  }
  ._w-30pct {
    width: 30% !important;
  }
  ._w-33pct {
    width: 33% !important;
  }
  ._w-40pct {
    width: 40% !important;
  }
  ._w-45pct {
    width: 45% !important;
  }
  ._w-50pct {
    width: 50% !important;
  }
  ._w-60pct {
    width: 60% !important;
  }
  ._w-66pct {
    width: 66% !important;
  }
  ._w-75pct {
    width: 75% !important;
  }
  ._w-80pct {
    width: 80% !important;
  }
  ._w-100pct {
    width: 100% !important;
  }
  ._w-120pct {
    width: 120% !important;
  }
  ._w-a {
    width: auto !important;
  }
  ._w-f,
  ._w-full {
    width: 100% !important;
  }
  ._mw-10 {
    max-width: 10px !important;
  }
  ._mw-30 {
    max-width: 30px !important;
  }
  ._mw-50 {
    max-width: 50px !important;
  }
  ._mw-100 {
    max-width: 100px !important;
  }
  ._mw-200 {
    max-width: 200px !important;
  }
  ._mw-300 {
    max-width: 300px !important;
  }
  ._mw-400 {
    max-width: 400px !important;
  }
  ._mw-500 {
    max-width: 500px !important;
  }
  ._mw-600 {
    max-width: 600px !important;
  }
  ._bsh-xs {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  ._bsh-sm {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  ._bsh {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  ._bsh-lg {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.23);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.23);
  }
  ._bsh-xl {
    -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.22);
    box-shadow: 0 19px 38px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.22);
  }
  ._bsh-xxl {
    -webkit-box-shadow: 0 25px 50px rgba(0,0,0,0.4), 0 18px 16px rgba(0,0,0,0.21);
    box-shadow: 0 25px 50px rgba(0,0,0,0.4), 0 18px 16px rgba(0,0,0,0.21);
  }
  ._bsh-light._bsh-xs {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
  }
  ._bsh-light._bsh-sm {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.16);
  }
  ._bsh-light._bsh {
    -webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.08), 0 4px 6px rgba(0,0,0,0.12);
    box-shadow: 0 8px 20px rgba(0,0,0,0.08), 0 4px 6px rgba(0,0,0,0.12);
  }
  ._bsh-light._bsh-lg {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.13), 0 10px 10px rgba(0,0,0,0.15);
    box-shadow: 0 14px 28px rgba(0,0,0,0.13), 0 10px 10px rgba(0,0,0,0.15);
  }
  ._bsh-light._bsh-xl {
    -webkit-box-shadow: 0 15px 40px rgba(0,0,0,0.15), 0 7px 12px rgba(0,0,0,0.11);
    box-shadow: 0 15px 40px rgba(0,0,0,0.15), 0 7px 12px rgba(0,0,0,0.11);
  }
  ._bsh-light._bsh-xxl {
    -webkit-box-shadow: 0 17px 50px rgba(0,0,0,0.17), 0 10px 10px rgba(0,0,0,0.11);
    box-shadow: 0 17px 50px rgba(0,0,0,0.17), 0 10px 10px rgba(0,0,0,0.11);
  }
  ._b {
    border: 1px solid #e6e6e6 !important;
  }
  ._b-n {
    border: none !important;
  }
  ._bc-dg {
    border-color: #d9d9d9 !important;
  }
  ._bc-w {
    border-color: #fff !important;
  }
  ._bc-g {
    border-color: #e6e6e6 !important;
  }
  ._bc-b {
    border-color: #000 !important;
  }
  ._bc-lb {
    border-color: #1a1a1a !important;
  }
  ._bc-p {
    border-color: #0093d2 !important;
  }
  ._bc-pi {
    border-color: #ff6c2d !important;
  }
  .front {
    position: relative !important;
    z-index: 99 !important;
  }
  ._pos-r {
    position: relative !important;
  }
  ._pos-a-b {
    bottom: 0 !important;
    top: auto !important;
    position: absolute !important;
    left: 0 !important;
    z-index: 99 !important;
  }
  ._pos-a-br {
    position: absolute !important;
    bottom: 0 !important;
    top: auto !important;
    right: 0 !important;
    left: auto !important;
    height: auto !important;
  }
  ._pos-a-bl {
    position: absolute !important;
    bottom: 0 !important;
    top: auto !important;
    right: auto !important;
    left: 0 !important;
    width: 100% !important;
    height: auto !important;
  }
  ._pos-a-tr {
    position: absolute !important;
    top: 0 !important;
    bottom: auto !important;
    right: 0 !important;
    left: auto !important;
    height: auto !important;
  }
  ._pos-a-tl {
    position: absolute !important;
    top: 0 !important;
    bottom: auto !important;
    left: 0 !important;
    right: auto !important;
    height: auto !important;
  }
  ._pos-v-c {
    position: absolute !important;
    top: 50% !important;
    height: auto !important;
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
  }
  ._pos-h-c {
    position: absolute !important;
    left: 50% !important;
    height: auto !important;
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
  }
  @media (min-width: 992px) {
    ._pos-desk-v-c {
      position: absolute !important;
      top: 50% !important;
      height: auto !important;
      -webkit-transform: translateY(-50%) !important;
      -moz-transform: translateY(-50%) !important;
      -o-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
      transform: translateY(-50%) !important;
    }
    ._pos-desk-a-b {
      bottom: 0 !important;
      top: auto !important;
      position: absolute !important;
      left: 0 !important;
      z-index: 99 !important;
    }
  }
  ._br-0 {
    border-radius: 0 !important;
  }
  ._br-1 {
    border-radius: 1px !important;
  }
  ._br-2 {
    border-radius: 2px !important;
  }
  ._br-3 {
    border-radius: 3px !important;
  }
  ._br-4 {
    border-radius: 4px !important;
  }
  ._br-5 {
    border-radius: 5px !important;
  }
  ._br-10 {
    border-radius: 10px !important;
  }
  ._br-r {
    border-radius: 50% !important;
  }
  ._bg-p,
  ._bg-primary {
    background-color: #0093d2 !important;
  }
  ._bg-p-grad {
    background: -webkit-linear-gradient(left, #00a8f0, #0084bd) !important;
    background: -moz-linear-gradient(left, #00a8f0, #0084bd) !important;
    background: -o-linear-gradient(left, #00a8f0, #0084bd) !important;
    background: -ms-linear-gradient(left, #00a8f0, #0084bd) !important;
    background: linear-gradient(to right, #00a8f0, #0084bd) !important;
  }
  ._bg-pi,
  ._bg-primary-inverse {
    background-color: #ff6c2d !important;
  }
  ._bg-w,
  ._bg-white {
    background-color: #fff !important;
  }
  ._bg-b,
  ._bg-black {
    background-color: #000 !important;
  }
  ._bg-d,
  ._bg-dark {
    background-color: #333 !important;
  }
  ._bg-g,
  ._bg-gray {
    background-color: #e6e6e6 !important;
  }
  ._bg-b-03 {
    background-color: rgba(0,0,0,0.7) !important;
  }
  ._bg-b-04 {
    background-color: rgba(0,0,0,0.6) !important;
  }
  ._bg-b-05 {
    background-color: rgba(0,0,0,0.5) !important;
  }
  ._bg-w-05 {
    background-color: rgba(255,255,255,0.5) !important;
  }
  ._c {
    color: #595959 !important;
  }
  ._c-p,
  ._c-primary {
    color: #0093d2 !important;
  }
  ._c-pi,
  ._c-primary-inverse {
    color: #ff6c2d !important;
  }
  ._c-w,
  ._c-white {
    color: #fff !important;
  }
  ._c-b,
  ._c-black {
    color: #000 !important;
  }
  ._c-d,
  ._c-dark {
    color: #404040 !important;
  }
  ._fw-b,
  ._fw-bold {
    font-weight: bold !important;
  }
  ._fw-n,
  ._fw-normal {
    font-weight: normal !important;
  }
  ._fw-200 {
    font-weight: 200 !important;
  }
  ._ff-d {
    font-family: helvetica, Arial, sans-serif !important;
  }
  ._ff-p {
    font-family: 'Roboto', helvetica, Arial, sans-serif !important;
  }
  ._fs {
    font-size: 15px !important;
  }
  ._fs-b {
    font-size: 16px !important;
  }
  ._fs-lg {
    font-size: 18px !important;
  }
  ._fs-xl {
    font-size: 21px !important;
  }
  ._fs-xxl {
    font-size: 31px !important;
  }
  ._fs-sm {
    font-size: 14px !important;
  }
  ._fs-xs {
    font-size: 12px !important;
  }
  ._ta-c,
  ._ta-center {
    text-align: center !important;
  }
  @media (max-width: 992px) {
    ._ta-mob-c,
    ._ta-mob-center {
      text-align: center;
    }
  }
  ._ta-l,
  ._ta-lelft {
    text-align: left !important;
  }
  ._ta-r,
  ._ta-right {
    text-align: right !important;
  }
  ._tt-uc {
    text-transform: uppercase !important;
  }
  ._tt-lc {
    text-transform: lowercase !important;
  }
  ._tt-n {
    text-transform: none !important;
  }
  ._ls-0 {
    letter-spacing: 0 !important;
  }
  ._d-t {
    display: table !important;
  }
  ._d-b {
    display: block !important;
  }
  ._d-none{
    display: none;
  }
  ._d-block{
    display: block;
  }
  ._op-0 {
    opacity: 0 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;
    filter: alpha(opacity=0) !important;
  }
  ._op-01 {
    opacity: 0.1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)" !important;
    filter: alpha(opacity=10) !important;
  }
  ._op-02 {
    opacity: 0.2 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)" !important;
    filter: alpha(opacity=20) !important;
  }
  ._op-03 {
    opacity: 0.3 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)" !important;
    filter: alpha(opacity=30) !important;
  }
  ._op-04 {
    opacity: 0.4 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)" !important;
    filter: alpha(opacity=40) !important;
  }
  ._op-05 {
    opacity: 0.5 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;
    filter: alpha(opacity=50) !important;
  }
  ._op-06 {
    opacity: 0.6 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)" !important;
    filter: alpha(opacity=60) !important;
  }
  ._op-07 {
    opacity: 0.7 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)" !important;
    filter: alpha(opacity=70) !important;
  }
  ._op-08 {
    opacity: 0.8 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)" !important;
    filter: alpha(opacity=80) !important;
  }
  ._op-09 {
    opacity: 0.9 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)" !important;
    filter: alpha(opacity=90) !important;
  }
  ._op-1 {
    opacity: 1 !important;
    -ms-filter: none !important;
    filter: none !important;
  }
  @media (max-width: 992px) {
    ._mob-h {
      display: none !important;
    }
  }
  @media (max-width: 992px) {
    ._mob-s {
      display: block !important;
    }
  }
  @media (min-width: 992px) {
    ._desk-h {
      display: none !important;
    }
  }
  @media (min-width: 992px) {
    ._desk-s {
      display: block !important;
    }
  }
  /*  --/UTILITIES--  */