/* --------------------------------------------------------
				manish CSS
-----------------------------------------------------------*/
a {
  color: #000;
}
.row-space-top-6 {
  margin-bottom: 37.5px;
}
.btn-primary.btn:hover,
.btn-primary.btn:focus,
.btn-primary:not(:disabled):not(.disabled):active {
  border-color: #000;
  background-color: #000;
  color: #fff;
  border: none;
}
.pagination > li.active > a,
.pagination > li.active > a:hover {
  background: #000;
}
.text-copy span {
  line-height: 25px;
  font-family: "Roboto", arial, helvetica, sans-serif !important;
  font-size: 14px !important;
}

.text-wrap h2 {
  font-size: 27px;
}

footer#main-footer .footer_logo {
  margin-bottom: 15px;
  background: transparent;
  padding: 10px;
}

.content-left {
  background: #3ac4fa;
  padding: 14px 0;
}

.lSSlideOuter .lSPager.lSGallery li {
  margin-bottom: 12px !important;
}

.main_header_area {
  background: #070a2b;
}

h5.thumb-title {
  font-size: 17px;
  color: #131e2a;
  padding: 10px 0 5px;
}

/* .thumb {
  box-shadow: 0 2px 3px 0 rgba(100, 100, 100, 0.3);
  padding: 15px;
  margin: 0 0 33px 0;
  min-height: 393px;
} */

/* .thumb:hover {
  box-shadow: 0 2px 3px 2px rgba(100, 100, 100, 0.2);
} */

.news {
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(100, 100, 100, 0.3);
  padding: 15px;
  height: 392px;
}

.showcase {
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(100, 100, 100, 0.3);
  padding: 15px;
}

.customer_says {
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(100, 100, 100, 0.3);
  padding: 15px;
  height: 392px;
}

.thumb-header {
  width: 100%;
  height: 240px;
  position: relative;
  text-align: center;
}

.thumb-header img {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* --------------------------------------------------------
				Start loader CSS
-----------------------------------------------------------*/

#loader-wrapper .logo {
  position: absolute;
  top: 48%;
  left: 40.5%;
}
#loader-wrapper .logo a {
  font-weight: 700;
  color: #3498db;
  font-size: 12px;
}
.logo span {
  color: #f85654;
}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #fff;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
}

/* --------------------------------------------------------
					End Preloader CSS
-----------------------------------------------------------*/

/* --------------------------------------------------------
				Start Header CSS
-----------------------------------------------------------*/

a {
  color: #cf8e4a;
}
a:hover {
  color: #cf8e4a;
}
.mainmenu {
  padding: 30px 0;
}
.mainmenu ul#nav {
  margin: 0;
  padding: 0;
}
.mainmenu .navbar-default {
  background: none;
  border: none;
  margin: 0;
}
.mainmenu .navbar-brand {
  padding: 0 23px 0 0;
  height: auto;
}
.header_login ul {
  list-style: outside none none;
  margin: 0;
  padding: 0 0 0 14px;
}
.header_login > ul > li > a {
  font-size: 14px;
  text-transform: uppercase;
}
.mainmenu .nav.navbar-nav {
  float: left;
}
.emergency_number {
  background: #fe5d5d none repeat scroll 0 0;
  float: left;
  padding: 10px;
  position: relative;
}
.emergency_number a {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
}
.emergency_number a > img {
  margin-right: 8px;
  max-width: 18px;
}
div#bs-example-navbar-collapse-1 {
  padding-right: 0;
}
.emergency_number::after {
  background: #fe5d5d none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 100%;
  position: absolute;
  top: 0;
  width: 10000%;
}
body.home .emergency_number,
body.home .emergency_number::after {
  background: #3ac4fa none repeat scroll 0 0;
}
.mainmenu .nav.navbar-nav > li > a {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  padding: 14px 21px 14px 30px;
  /*font-family: 'Lora', serif;*/
}
.mainmenu .nav.navbar-nav li.dropdown > a {
  background: url(img/dropdown_bg.png) no-repeat scroll 100% 50%;
}
.mainmenu .nav.navbar-nav a:hover {
  color: #16b4ef;
}
.header_top_area {
  background: #313a45 none repeat scroll 0 0;
  color: #fff;
}
.header_top_area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header_top_area li {
  padding: 10px 0;
}
.header_top_area a {
  color: #7a7e84;
  font-size: 14px;
  text-transform: uppercase;
  /*font-family: "Karla",sans-serif;*/
}
.header_top .left_header_top a > img {
  margin-right: 12px;
}
.right_header_top .nav a {
  padding: 0 14px;
}
.right_header_top .nav a:hover,
.right_header_top .nav a:active,
.right_header_top .nav .open > a,
.right_header_top .nav .open > a:focus,
.right_header_top .nav .open > a:hover {
  background: none;
}
#menu2,
#menu1 {
  background: #313a45 none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  top: 165.6%;
}
#menu2.dropdown-menu > li:first-child > a,
#menu1.dropdown-menu > li:first-child > a {
  padding-top: 34px;
}
#menu2.dropdown-menu > li:last-child > a,
#menu1.dropdown-menu > li:last-child > a {
  padding-bottom: 34px;
}
#menu2.dropdown-menu > li > a,
#menu1.dropdown-menu > li > a {
  color: #fff;
  padding: 14px 100px 14px 34px;
  text-transform: uppercase;
  line-height: 26px;
}
#menu2.dropdown-menu > li > a:hover,
#menu1.dropdown-menu > li > a:hover,
#menu1.dropdown-menu > li > a:active,
#menu2.dropdown-menu > li > a:active {
  color: #3ac4fa;
  background: none;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background: none;
}

/* --------------------------------------------------------
 					end Header CSS
-----------------------------------------------------------*/

/* --------------------------------------------------------
2. 					Start slider CSS
-----------------------------------------------------------*/
.main_slider_area {
  font-family: "Playfair Display", serif;
  padding-bottom: 0px;
  position: relative;
}

/* --------------------------------------------------------
 					end slider CSS
-----------------------------------------------------------*/

/* --------------------------------------------------------
3.					start hotel booking area CSS
-----------------------------------------------------------*/
body.home .hotel_booking_area {
  left: calc(50% - 585px);
  position: absolute;
  text-transform: uppercase;
  top: 0;
  z-index: 200;
}
body#home_two .hotel_booking_area {
  bottom: 2%;
}
.picker-container {
  display: none;
}

.hotel_booking {
  background: #313a45 none repeat scroll 0 0;
  font-family: "Karla", sans-serif;
  min-height: 94px;
  padding: 26px 10px;
  position: relative;
}
.room_book {
  border-right: 1px solid #475362;
  margin-right: 7%;
}
.room_book h6 {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  font-family: "Karla", sans-serif;
}
.room_book p {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 25px;
  margin: 0;
  font-family: "Karla", sans-serif;
}
form#form1 .form-group {
  margin: 0;
}
.hotel_booking .input-group {
  width: 100%;
}
.hotel_booking .input-group-addon,
.hotel_booking_area input#datepicker,
.hotel_booking_area input#datepicker1 {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #aab8ca;
  outline: none;
}
.hotel_booking .input-group-addon {
  padding: 0 0 0 10px;
}
.hotel_booking_area ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #aab8ca;
}
.hotel_booking_area ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #aab8ca;
  opacity: 1;
}
.hotel_booking_area input#datepicker,
.hotel_booking_area input#datepicker1,
.hotel_booking_area select#room,
.hotel_booking_area select#adult,
.hotel_booking_area select#child,
.hotel_booking_area select#bed {
  font-size: 13px;
  height: 37px;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}
.hotel_booking_area select#room {
}
.form-control:focus {
  box-shadow: none;
}
.hotel_booking_area select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #aab8ca;
  outline: medium none;
  font-family: "Karla", sans-serif;
  padding-left: 8px;
}
.hotel_booking_area select > option {
  border: medium none;
  margin: 0;
  padding: 5px 5px 5px 15px;
}
.icon_arrow:after {
  content: "\f107";
  color: #aab8ca;
  font-family: "FontAwesome";
  font-size: 14px;
  line-height: 42px;
  position: absolute;
  right: 9%;
  top: -6%;
  z-index: 1;
}

/* --------------------------------------------------------
 					end hotel booking area CSS
-----------------------------------------------------------*/

/* --------------------------------------------------------
4.					start special offer CSS
-----------------------------------------------------------*/

body.home .special_offer_main {
  height: 276px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 223px;
  z-index: 11;
}

/* --------------------------------------------------------
 					end special offer CSS
-----------------------------------------------------------*/

/* --------------------------------------------------------
5.					start welcome area CSS
-----------------------------------------------------------*/

body.home .welcome .section_description {
  padding: 0 20% 43px;
  text-align: center;
}
body.home .welcome .section_description p {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}
body.home .welcome .room_media,
.accomodation_single_room .room_media,
body#room_detail_page .welcome .room_media {
  margin-bottom: 28px;
  text-align: center;
}
body.home .single_room_wrapper .uk-overlay,
body#accomodation_page .single_room_wrapper .uk-overlay {
  overflow: visible;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
body.home .single_wrapper_details,
body#accomodation_page .single_wrapper_details {
  background: #f7c411 none repeat scroll 0 0;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-display: block;
  padding: 13px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body.home .single_wrapper_details,
  body#accomodation_page .single_wrapper_details {
    display: none;
  }
}
body.home .single_room_wrapper .uk-overlay:hover .single_wrapper_details,
body#accomodation_page
  .single_room_wrapper
  .uk-overlay:hover
  .single_wrapper_details {
  display: block;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
body.home .single_room_wrapper .uk-overlay:hover .left_room_title a.btn,
body#accomodation_page
  .single_room_wrapper
  .uk-overlay:hover
  .left_room_title
  a.btn {
  background: #63c2ea none repeat scroll 0 0;
  color: #fff;
}
body.home .single_wrapper_details .single_wrapper_details_pad,
body#accomodation_page .single_wrapper_details .single_wrapper_details_pad {
  height: 100%;
  width: 100%;
}
body.home .single_wrapper_details h5,
body#accomodation_page .single_wrapper_details h5 {
  color: #000;
  font-size: 18px;
  font-family: "Lora", serif;
  text-transform: none;
}
body.home .single_wrapper_details p,
body#accomodation_page .single_wrapper_details p {
  color: #444;
  font-size: 15px;
}
body.home .single_room_wrapper,
body#accomodation_page .single_room_wrapper {
  overflow: hidden;
}
body.home .single_wrapper_details .single_room_cost p,
body#accomodation_page .single_wrapper_details .single_room_cost p {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 18px;
  font-family: "Lora", serif;
}
body.home .single_wrapper_details .single_room_cost p span,
body#accomodation_page .single_wrapper_details .single_room_cost p span {
  font-size: 11px;
}
body.home .single_wrapper_details .single_room_cost .btn,
body#accomodation_page .single_wrapper_details .single_room_cost .btn {
  border: none;
  border-left: 1px solid #444;
  border-top: 1px solid #444;
  color: #444;
  margin-bottom: -74px;
  margin-right: -23px;
}
body.home .single_wrapper_details .single_room_cost .btn:hover,
body#accomodation_page .single_wrapper_details .single_room_cost .btn:hover {
  background: #444;
  color: #fff;
}

body.home .welcome .room_media a,
.accomodation_single_room .room_media a {
  display: block;
}
body.home .welcome .left_room_title > h6,
.accomodation_single_room .left_room_title > h6 {
  font-family: "Lora", serif;
  font-size: 18px;
  text-transform: none;
}
body.home .welcome .left_room_title > p,
.accomodation_single_room .left_room_title > p {
  font-family: "Lora", serif;
  font-size: 18px;
}
body.home .welcome .left_room_title > p > span,
.accomodation_single_room .left_room_title > p > span {
  font-size: 11px;
}

/* --------------------------------------------------------
 					end welcome area CSS
-----------------------------------------------------------*/

/* --------------------------------------------------------
8. 					start Hotel Facilities area CSS
-----------------------------------------------------------*/

.hotel_facilities_area {
  background: #fbfbfb;
  /*background-size: cover;*/
  /*background-position: fixed;*/
  padding: 70px 0 0 0;
}

/*

.hotel_facilities_area{
	background: url(../../../img/hotel-facilities-bg.jpg) no-repeat fixed 0 0;
	background-size: cover;
	background-position: fixed;
}*/

.hotel_facilities {
  padding-bottom: 143px;
  padding-top: 123px;
}

.hotel_facilities .nav.nav-tabs {
  border: medium none;
  margin: 0 auto;
  text-align: center;
  width: 56.7%;
}
.hotel_facilities_content .nav-tabs > li > a {
  background: #eeefed none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  height: 100px;
  margin: 0;
  width: 129px;
  text-transform: uppercase;
  padding: 10px 14px;
}
.hotel_facilities_content .nav-tabs > li.active > a {
  background: #fff;
}
.hotel_facilities_content .nav.nav-tabs > li > a > img {
  display: block;
  margin: 12px auto 10px;
}
body.home .nav-tabs > li.active > a,
body.home .nav-tabs > li.active > a:focus,
body.home .nav-tabs > li.active > a:hover,
body.home .nav-tabs > li.active > a > img {
  color: #58bee8;
  cursor: pointer;
  border: none;
}
.hotel_facilities_content .tab-content {
  background: #fff none repeat scroll 0 0;
  padding: 55px;
}
.hotel_facilities_content .single-tab-details {
}
.hotel_facilities_content .single-tab-details > h6 {
  font-family: "Karla", sans-serif;
  margin-bottom: 14px;
  margin-top: 14px;
}
.hotel_facilities_content .single-tab-details > h3 {
  margin-bottom: 27px;
}
.hotel_facilities_content .single-tab-details > p {
  line-height: 25px;
  margin-bottom: 20px;
  margin-top: 0;
}
.hotel_facilities_content .our_services {
  padding-top: 3px;
}
.hotel_facilities_content .our_services > a {
  color: #16b4ef;
  text-transform: uppercase;
}
/* --------------------------------------------------------
 					end Hotel Facilities area CSS
-----------------------------------------------------------*/

div#customer_says_slider .customer_comment {
  background: rgba(0, 0, 0, 0) url("img/customer-slider-bg.png") no-repeat
    scroll 0 0 / cover;
  /*padding: 25px 34px 23px;*/
  padding: 25px 15px 23px;
}
div#customer_says_slider .customer_comment > p {
  line-height: 25px;
  margin: 0;
  padding-bottom: 20px;
}
div#customer_says_slider .slider_says {
  bottom: 28%;
  position: absolute;
  right: 6.4%;
}
div#customer_says_slider .slider_says.left {
  right: 16.5%;
}
div#customer_says_slider .slider_says i {
  font-size: 20px;
}

/* --------------------------------------------------------
			start contact us area CSS
-----------------------------------------------------------*/

.contact_us {
  background: #3ac4fa;
  padding: 10px 29px;
}
.contact_us a,
.contact_us h6,
.contact_us p {
  color: #fff;
}
.contact_us a:hover {
  color: #313a45;
}
.contact_us h6 {
  font-family: "Karla", sans-serif;
}
.contact_us p {
  font-size: 20px;
  margin: 0;
  margin-top: 5px;
  line-height: 22px;
  font-family: "Lora", serif;
}
.contact_us .news_letter > input {
  background: #3ac4fa none repeat scroll 0 0;
  border: 0;
  padding: 11px 3px;
  border-bottom: 1px solid #fff;
  width: 100%;
  position: relative;
  line-height: 20px;
  outline: none;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}
.contact_us .news_letter > a.btn-blue {
  position: absolute;
  right: 5%;
  top: 12%;
}
.contact_us ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
.contact_us ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.contact_us .social_icons {
  padding: -1px 156px;
}
.contact_us .social_icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact_us .social_icons ul li {
  float: left;
}
.contact_us .social_icons ul li a {
  padding-left: 29px;
}
.contact_us .social_icons ul li a i {
  font-size: 20px;
}

/* --------------------------------------------------------
 					end contact us area CSS
-----------------------------------------------------------*/

/* --------------------------------------------------------
					start footer area CSS
-----------------------------------------------------------*/

.footer_area {
  background: #313a45;
}
.footer_widget > h5 {
  color: #fff;
  margin-bottom: 45px;
}
.footer_widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_widget p,
.footer_widget ul li a,
.footer_copyright p,
.footer_copyright a {
  color: #d5d7d8;
}
.footer_widget ul li a:hover,
.footer_copyright a:hover {
  color: #16b4ef;
}
.footer .footer_logo {
  margin-bottom: 19px;
}
.footer_widget ul li {
  margin-bottom: 25px;
}
.footer_widget ul li p i {
  float: left;
  line-height: 20px;
  margin-right: 10px;
  min-height: 80px;
}
.footer_widget ul li p {
  margin: 28px 0px;
}

/* --------------------------------------------------------
 					end footer area CSS
-----------------------------------------------------------*/
.uk-overlay-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
}

.search-form {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 99;
  /* background: rgba(0,0,0,.5);*/
  padding: 40px;
  right: 0;
  display: flex;
  justify-content: center;
}
.form-inline .form-control {
  border-radius: 0;
  height: 44px;
  font-family: "Karla", sans-serif;
  padding: 0 80px 0 10px;
  width: 200px;
}

.btn.btn-primary {
  background: #cf8e4a;
  color: #fff;
  font-size: 14px;
}
.gallery-properties,
.slider-section {
  padding: 80px 0;
}
.destinations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 -4px;
}
.destinations .destination {
  display: block;
  width: -webkit-calc(25% - 8px);
  width: calc(25% - 8px);
  margin: 4px;
  color: #fff;
  padding: 24px 12px 24px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 280px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
}
.destinations .destination:first-child,
.destinations .destination:last-child {
  width: -webkit-calc(50% - 8px);
  width: calc(50% - 8px);
}
.destinations .destination h6 {
  font: 25px/1.1 "Karla", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1 !important;
}
.destinations .destination div {
  z-index: 2;
}
.section-title {
  margin-bottom: 20px;
  margin-top: -40px;
}

.slick-slide {
  margin: 0 5px;
}
.slick-list {
  margin: 0px -5px 0px -5px;
}
button.slick-next,
button.slick-next:hover {
  position: absolute;
  top: 41%;
  right: -30px;
  width: 26px;
  height: 39px;
  background-image: url(http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png);
  background-size: 50px;
}
button.slick-prev,
button.slick-prev:hover {
  position: absolute;
  top: 41%;
  left: -30px;
  z-index: 1;
  width: 26px;
  height: 39px;
  background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
  background-size: 50px;
  background-position-x: right;
}
.slick-prev:before,
.slick-next:before {
  font-size: 70px;
  color: #ea8496;
  line-height: inherit;
  font-weight: bold;
}
.rio-promos img {
  height: 324px;
  width: 100%;
}

/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider {
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
  background: #fff
    url("http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif")
    center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot");
  src: url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot?#iefix")
      format("embedded-opentype"),
    url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.woff")
      format("woff"),
    url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.ttf")
      format("truetype"),
    url("file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.svg#slick")
      format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background-image: inherit;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "";
}
[dir="rtl"] .slick-prev:before {
  content: "";
  font-weight: bold;
  font-size: 20px;
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "";
}
[dir="rtl"] .slick-next:before {
  content: "";
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;

  display: block;

  width: 100%;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
.slider-section .item {
  position: relative;
}
.slider-section .caption {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  padding: 25px;
  color: #fff;
}
.top-hero-section {
  height: 100vh;
}

.card-profile {
  border-radius: 0;
  border: 0;
}
.card-profile .card-img-top {
  border-radius: 0;
}
.card-profile .card-img-profile {
  max-width: 100%;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 35px;
  border: 5px solid #e6e5e1;
}
span.contact_mn {
  background: #000;
  color: #fff;
  padding: 10px 30px;
}
.card-profile .card-title {
  margin-bottom: 50px;
}
.card-profile .card-title small {
  display: block;
  font-size: 0.6em;
  margin-top: 0.2em;
}
.card-profile .card-links {
  margin-bottom: 25px;
}
.card-profile .card-links .fa {
  margin: 0 1em;
  font-size: 1.6em;
}
.card-profile .card-links .fa:focus,
.card-profile .card-links .fa:hover {
  text-decoration: none;
}
.card-profile .card-links .fa.fa-dribbble {
  color: #ea4b89;
  font-weight: bold;
}
.card-profile .card-links .fa.fa-dribbble:hover {
  color: #e51d6b;
}
.card-profile .card-links .fa.fa-twitter {
  color: #68aade;
}
.card-profile .card-links .fa.fa-twitter:hover {
  color: #3e92d5;
}
.card-profile .card-links .fa.fa-facebook {
  color: #3b5999;
}
.card-profile .card-links .fa.fa-facebook:hover {
  color: #2d4474;
}

.card-profile .btn {
  margin-bottom: 10px;
}
.card-profile small {
  margin-top: 5px;
}

.book-it-panel {
  margin-bottom: 0 !important;
}
i.mdi.mdi-account-circle.user_rw {
  font-size: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
#menu-wrap {
  z-index: 9999;
}
@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
}
.right_gal_col .photo-grid-photo {
  margin-left: 2.3px;
}
ol.breadcrumb {
  padding: 5px 15px;
  font-size: 13px;
  margin-top: -12px;
  background-color: #f5f5f5;
}
.breadcrumb > li > a {
  color: #000;
}
.col-md-6.full_col {
  height: 340px;
}
.col-md-6.half_col {
  height: 170px;
}
.top_gallery_detail .col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
.top_gallery_detail .col-md-6 img {
  width: 100%;
  border: 2px solid #000;
  height: 100%;
}
.full_img {
  height: 100%;
}
div#summary {
  margin-top: -2px;
}
.more_images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.more_images a {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
}
.room-section {
  margin-top: 40px;
  padding-top: 40px;
}
#book_it_form {
  margin-top: -54px;
}
#pricing {
  background: #000000;
  height: 42px;
}
.amenities {
  text-align: left;
}
.logo {
  display: flex !important;
  font-family: "Pacifico", cursive;
  width: 100%;
  max-width: 290px;
  font-size: 25px;
}

.about_main {
  min-height: 420px;
  padding-top: 145px;
}
.nearby_attractions_main .media img {
  height: 300px;
  float: left;
  width: 490px;
  object-fit: cover;
}
.nearby_attractions_main li.media {
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 30px;
  padding: 15px;
}
.nearby_attractions_main h5 {
  font-weight: 700;
}
.nearby_attractions_main h5 small {
  font-size: 80%;
}
.review--box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 15px;
  margin-bottom: 15px;
}
.contact_main {
  margin-top: 165px;
}
.inner_page_margin {
  margin-top: 0;
}
.inner_page_margin_d {
  margin-top: 0;
}
.p_p {
  padding-top: 10px;
}
.messages_list {
  margin-top: 20px;
}
.messages_list li {
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.thread-body.lang-chang-label {
  display: flex;
}
.upload-profile-photo-cta {
  position: relative !important;
  background: #000;
  border: none !important;
  border-radius: 0 !important;
}
.total_price_main {
  padding: 0 15px 0 15px;
  margin-bottom: 15px;
}
.total_price_main ul {
  margin: 0;
  padding: 0;
}
.total_price_main ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.total_price_main ul li h5,
.total_price_main ul li p {
  margin-bottom: 0;
}
.file-input-container {
  height: 44px;
  text-align: center;
  background: #cf8e4a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_bg {
  background-image: url("../img/login_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  padding: 40px 0;
  position: relative;
}
.login_container {
  position: relative;
  z-index: 1;
}
.panel {
  border: 1px solid #dce0e0;
  border-radius: 0px;
}
.remember-me {
  display: flex;
  margin-top: 15px;
}
.remember-me .remember_me {
  margin: 0;
  margin-right: 5px;
}
.reserve-img {
  height: 55px;
  width: 55px;
  margin-right: 10px;
}
.user_reserve_card {
  display: flex;
}
.user_reserve_card h4 {
  font-size: 18px;
}
.user_reserve_card p {
  margin-bottom: 0;
}
.label-info {
  background-color: #cf8e4a;
  color: #000;
  padding: 0.2em 0.6em 0.3em;
}
.custom_card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 15px;
  margin-bottom: 15px;
}
.panel-quote-flush {
  min-height: 50px;
}
a.morelink {
  text-decoration: none;
  outline: none;
}
.morecontent span {
  display: none;
}

.qt-sidebar-redesign {
  padding: 0 15px;
}
.checkout-main__section .media-photo-badge img {
  height: 70px;
  width: 70px;
}
.dashboard-profile-photo img {
  height: 210px;
}
.pagination-buttons-container {
  display: flex;
  justify-content: flex-end;
}
/* .acceptrej .label {
  background: #CF8E4A;
} */
.media.va-container.reserve img {
  height: 60px;
  width: 60px;
}
/**
 * FilePond Custom Styles
 */
.filepond--drop-label {
  color: #4c4e53;
}

.filepond--label-action {
  text-decoration-color: #babdc0;
}

.filepond--panel-root {
  border-radius: 2em;
  background-color: #edf0f4;
  height: 1em;
}

.filepond--item-panel {
  background-color: #595e68;
}

.filepond--drip-blob {
  background-color: #7f8a9a;
}
.docs_upload_main {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.reviews-list .media-photo img {
  height: 70px;
  width: 70px;
}
/*@media only screen and (max-width: 1920px) and (min-width: 1370px) {
  .top_gallery_detail {
    height: 477px;
    margin-top: 0;
  }
  .top_gallery_detail .full_img img {
    height: 519px;
  }
}
@media only screen and (max-width: 1369px) and (min-width: 1200px) {
  .top_gallery_detail {
    height: 399px;
    margin-top: 100px;
  }

  .top_gallery_detail .col-md-6 img {
    height: 220.5px;
  }
  .top_gallery_detail .full_img img {
    height: 441px;
  }
}*/
@media (max-width: 767px) {
  .nearby_attractions_main .media img {
    margin-bottom: 15px;
  }
  .nearby_attractions_section {
    margin-top: -65px;
  }
  .hero-center-section {
    top: 40%;
  }
  .slideshow {
    height: 120px;
  }
  .hide_on_mobile {
    display: none !important;
  }
  .top_gallery_detail {
    height: 250px;
  }
  .top_gallery_detail .full_img img {
    height: auto;
  }
  .summary-component h1.h3 {
    font-size: 16px;
  }
  .roomtype-img {
    display: flex;
    justify-content: center;
  }
  #book_it_form {
    width: 100%;
  }
  .r_l_t_m {
    margin-left: 0 !important;
  }
  .room-section {
    padding: 0;
    margin: 0 !important;
  }
  #summary {
    margin-top: 75px !important;
  }
  i.mdi.mdi-account-circle.user_rw {
    margin-top: 0px;
    justify-content: flex-start;
  }
  .review--box {
    margin-bottom: 50px;
    margin-top: 30px;
  }
}

@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.lds-rolling {
  position: relative;
}
.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 160px;
  height: 160px;
  border: 20px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
}
.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation: lds-rolling 1s linear infinite;
  top: 100px;
  left: 100px;
}
.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lds-rolling {
  width: 30px !important;
  height: 30px !important;
  -webkit-transform: translate(-15px, -15px) scale(0.15) translate(15px, 15px);
  transform: translate(-15px, -15px) scale(0.15) translate(15px, 15px);
}
.ladda-button[data-style="expand-right"] .ladda-spinner {
  right: 12px;
  top: 6px;
}
.total_price_main {
  position: relative;
}
.details_popup {
  position: absolute;
  background: #fff;
  height: auto;
  max-width: 293px;
  padding: 10px 0px;
  width: 100%;
  left: 71px;
  z-index: 1;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 6px;
  border: 1px solid #ddd;
  display: none;
}
.details_popup.show {
  display: block;
}
.details_popup .icon {
  height: auto;
  width: auto;
  display: initial;
}
.short_desc_height {
  max-height: 230px;
  overflow-y: auto;
}
#reviews .review-content {
  max-height: 300px;
  overflow-y: auto;
}
#reviews .review-wrapper {
  margin-top: -80px;
}

/* .top_gallery_detail {
  display: none;
} */
div#reviews {
  margin-top: 40px;
}

.contract--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
