.contract--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

img.signature__img_top {
  position: relative;
  bottom: 479px;
  height: 100px;
  left: 100px;
}
.contact__date {
  display: none;
}
div#date {
  position: relative;
  bottom: 539px;
  right: 84px;
  float: right;
}
.guest--details {
  width: 753px;
  position: relative;
}
.guest--details:before {
  content: "Guest Details";
  position: absolute;
  top: -5px;
  font-size: 20px;
  font-weight: 700;
  /* margin-bottom: 20px; */
}
table.guest__details {
  width: 100%;
  margin-top: -60px;
  border-collapse: separate;
  border-spacing: 0 10px;
}
table.guest__details tr td {
  text-align: center;
  padding: 8px 0;
}
table.guest__details tr {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
}
table.guest__details tr:first-child {
  box-shadow: none;
}
.print_btn button {
  position: fixed;
  /* right: 0; */
  left: 75%;
  top: 31px;
  background: #2980b9;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  z-index: 2;
}
