
/* --------------------------------------------------------
				Start Header CSS
-----------------------------------------------------------*/

a{
	color: #000;
}
a:hover{
	color: #16b4ef;
}
.mainmenu {
  padding: 30px 0;
}
.mainmenu ul#nav{
	margin: 0;
	padding: 0;
}
.mainmenu .navbar-default {
  background: none;
  border: none;
  margin: 0;
}
.mainmenu .navbar-brand {
  padding: 0 23px 0 0;
  height: auto;
}
.header_login ul{
	list-style: outside none none;
	margin: 12px 0 0;
	/*margin: 0;*/
	
	padding: 0 0 0 14px;
}
.header_login > ul > li > a{	
	font-size: 14px;
	text-transform: uppercase;
	color:#fff;
}
.mainmenu .nav.navbar-nav {
  float: left;
}
.emergency_number {
  background: #fe5d5d none repeat scroll 0 0;
  float: left;
  padding: 10px;
  position: relative;
}
.emergency_number a{
	color: #fff;
	font-size: 20px;
	line-height: 28px;
}
.emergency_number a > img{
	margin-right: 8px;
}
.emergency_number::after {
  background: #fe5d5d none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 100%;
  position: absolute;
  top: 0;
  width: 10000%;
}
.emergency_number, .emergency_number::after{
	background: #3ac4fa none repeat scroll 0 0;
}
.mainmenu .nav.navbar-nav > li > a {
	text-transform: uppercase;
	/*color: #000;*/
		color: #fff;
	font-size: 14px;
	font-weight: 400;
	padding: 14px 21px 14px 30px;
	/*font-family: 'Lora', serif;*/
}
.mainmenu .nav.navbar-nav li.dropdown > a{
	background: url(img/dropdown_bg.png) no-repeat scroll 100% 50%;
}
.mainmenu .nav.navbar-nav a:hover{
	color: #16b4ef;
}
.header_top_area {
  background: #313a45 none repeat scroll 0 0;
  color: #fff;
}
.header_top_area ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.header_top_area li{
	padding: 10px 0;
}
.header_top_area a{
	color: #7a7e84;
	font-size: 14px;
	text-transform: uppercase;
	/*font-family: "Karla",sans-serif;*/
}
.header_top .left_header_top a > img{
	margin-right: 12px;
}
.right_header_top .nav a {
  padding: 0 14px;
}
.right_header_top .nav a:hover, .right_header_top .nav a:active,  .right_header_top .nav .open > a,  .right_header_top .nav .open > a:focus, .right_header_top  .nav .open > a:hover{
	background: none;
}
#menu2, #menu1 {
	background: #313a45 none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	top: 165.6%;
}
#menu2.dropdown-menu > li:first-child > a, #menu1.dropdown-menu > li:first-child > a{
	padding-top: 34px;
}
#menu2.dropdown-menu > li:last-child > a, #menu1.dropdown-menu > li:last-child > a{
	padding-bottom: 34px;
}
#menu2.dropdown-menu > li > a, #menu1.dropdown-menu > li > a {
  color: #fff;
  padding: 14px 100px 14px 34px;
  text-transform: uppercase;
  line-height: 26px;
}
#menu2.dropdown-menu > li > a:hover, #menu1.dropdown-menu > li > a:hover, #menu1.dropdown-menu > li > a:active, #menu2.dropdown-menu > li > a:active{
	color: #3ac4fa;
	background: none;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
	background: none;
}


/* --------------------------------------------------------
 					end Header CSS
-----------------------------------------------------------*/

/* --------------------------------------------------------
					start footer area CSS
-----------------------------------------------------------*/

.footer_area{
	background: #313a45;
}
.footer_widget > h5 {
  color: #fff;
  margin-bottom: 45px;
}
.footer_widget ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer_widget p, .footer_widget ul li a, .footer_copyright p, .footer_copyright a{
	color: #d5d7d8;
}
.footer_widget ul li a:hover, .footer_copyright a:hover{
	color: #16b4ef;
}
.footer .footer_logo {
  margin-bottom: 19px;
}
.footer_widget ul li{
	margin-bottom: 25px;
}
.footer_widget ul li p i {
  float: left;
  line-height: 20px;
  margin-right: 10px;
  min-height: 80px;
}
.footer_widget ul li p{
	margin: 28px 0px;
}

/* --------------------------------------------------------
 					end footer area CSS
-----------------------------------------------------------*/
.uk-overlay-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    color: #fff;
}

