.divider_1qenmrf {
	border: 0 !important;
	border-top-width: 0;
	border-top-style: none;
	border-top-color: currentcolor;
	border-top: 1px solid #dbdbdb !important;
	margin: 16px 0 !important;
	height: 0 !important
}

.textHeaderContainerMarginTop_13o8qr2-o_O-textHeaderContainerWidth_peyti4 {
	width: 60% !important
}

.textHeaderContainerMarginTop_13o8qr2-o_O-textHeaderContainerWidth_peyti4 {
	margin-top: 64px !important
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0
}

.textHeader_8yxs9w {
	font-size: 48px !important;
	line-height: 56px !important;
	letter-spacing: -0.8px !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	color: #484848 !important;
	font-weight: 300 !important
}

.textHeaderTitle_153t78d-o_O-textHeader_rausch_hp6jb4 {
	font-weight: 700 !important;
	color: #ff5a5f !important
}

.container_e4p5a8 {
	display: block !important
}

.container_1tvwao0 {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 19px !important;
	line-height: 24px !important;
	letter-spacing: undefined !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	color: #484848 !important;
	border-radius: 4px !important;
	border: 1px solid #dbdbdb !important;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08) !important;
	padding: 0 !important;
	display: table !important;
	table-layout: fixed !important;
	width: 100% !important;
	position: relative !important
}

.container_1tvwao0::before {
	content: " " !important;
	display: table !important
}

.container_mv0xzc {
	display: table-cell !important;
	vertical-align: middle !important;
	position: relative !important;
	-webkit-transition: width .3s !important;
	-moz-transition: width .3s !important;
	transition: width .3s !important
}

.label_1om3jpt {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 15px !important;
	line-height: 18px !important;
	letter-spacing: .2px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	color: #484848 !important;
	display: block !important;
	margin-left: 16px !important;
	margin-top: 16px !important
}

.largeGeocomplete_1g20x4k {
	margin-top: 0 !important;
	margin-left: 5px !important
}

.container_gor68n {
	position: relative !important;
	z-index: 1 !important
}

.container_e296pg {
	position: relative !important
}

.container_36rlri-o_O-block_r99te6 {
	display: block !important;
	width: 100% !important
}

.label_hidden_1m8bb6v {
	position: absolute !important;
	display: block !important;
	border: 0 !important;
	margin: -1px !important;
	padding: 0 !important;
	height: 1px !important;
	width: 1px !important;
	clip: rect(0, 0, 0, 0) !important;
	overflow: hidden !important
}

.container_ssgg6h-o_O-container_noMargins_18e9acw-o_O-borderless_mflkgb-o_O-block_r99te6 {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 19px !important;
	line-height: 24px !important;
	letter-spacing: undefined !important;
	padding-top: undefined !important;
	padding-bottom: undefined !important;
	color: #484848 !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #fff !important;
	border-radius: 2px !important;
	background-color: #fff !important;
	margin-bottom: 0 !important;
	position: relative !important;
	z-index: 0 !important;
	margin-top: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: block !important;
	width: 100% !important
}

.inputContainer_178faes {
	overflow: hidden !important;
	position: relative !important
}

.input_70aky9-o_O-input_book_f17nnd-o_O-input_ellipsis_1bgueul-o_O-input_defaultPlaceholder_jsyynz {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 19px !important;
	line-height: 24px !important;
	letter-spacing: undefined !important;
	padding-top: undefined !important;
	padding-bottom: undefined !important;
	color: #484848 !important;
	font-weight: normal !important;
	background-color: transparent !important;
	border: 0 !important;
	padding: 11px !important;
	width: 100% !important;
	text-overflow: ellipsis !important
}

.focusUnderline_7131v4 {
	position: absolute !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	height: 2px !important;
	background: #00a699 !important;
	-webkit-transition: opacity .3s !important;
	-moz-transition: opacity .3s !important;
	transition: opacity .3s !important;
	opacity: 0 !important;
	z-index: 1 !important
}

.container_mv0xzc-o_O-borderLeft_1ujj4hk-o_O-borderRight_1x9yfnn {
	display: table-cell !important;
	vertical-align: middle !important;
	position: relative !important;
	-webkit-transition: width .3s !important;
	-moz-transition: width .3s !important;
	transition: width .3s !important;
	border-left: 1px solid #e4e4e4 !important;
	border-right: 1px solid #e4e4e4 !important
}

.webcot-lg-datepicker {
	white-space: nowrap
}

.dateRangePicker_e296pg-o_O-hidden_ajz5vs {
	position: absolute !important;
	opacity: 0 !important
}

.webcot-lg-datepicker.webcot-lg-datepicker--jumbo .DateRangePickerDiv {
	padding: 8px
}

.webcot-lg-datepicker .DateRangePickerDiv {
	font-size: 15px;
	position: static
}

.DateRangePickerDiv {
	position: relative;
	display: inline-block
}

.webcot-lg-datepicker .DateRangePickerInput {
	white-space: nowrap;
	border: 0;
	width: 100%
}

.DateRangePickerInput {
	background-color: #fff;
	border: 1px solid #cacccd;
	display: inline-block
}

.webcot-lg-datepicker .DateInput {
	width: auto;
	padding: 0
}

.DateInput {
	font-weight: 200;
	font-size: 18px;
	line-height: 24px;
	color: #757575;
	margin: 0;
	padding: 8px;
	background: #fff;
	position: relative;
	display: inline-block;
	width: 130px;
	vertical-align: middle
}

.DateInput__input {
	opacity: 0;
	-ms-filter: "alpha(opacity=0)";
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	height: 100%;
	width: 100%
}

.webcot-lg-datepicker.webcot-lg-datepicker--jumbo .DateInput__display-text,
.webcot-lg-datepicker.webcot-lg-datepicker--jumbo .DateRangePickerInput__arrow {
	font-size: 19px;
	line-height: 22px
}

.webcot-lg-datepicker .DateInput__display-text,
.webcot-lg-datepicker .DateRangePickerInput__arrow {
	font-size: 15px;
	font-weight: normal;
	letter-spacing: .2px
}

.DateInput__display-text {
	padding: 4px 8px;
	white-space: nowrap;
	overflow: hidden
}

.webcot-lg-datepicker.webcot-lg-datepicker--jumbo .DateInput__display-text,
.webcot-lg-datepicker.webcot-lg-datepicker--jumbo .DateRangePickerInput__arrow {
	font-size: 19px;
	line-height: 22px
}

.webcot-lg-datepicker .DateRangePickerInput__arrow {
	color: #767676
}

.webcot-lg-datepicker .DateInput__display-text,
.webcot-lg-datepicker .DateRangePickerInput__arrow {
	font-size: 15px;
	font-weight: normal;
	letter-spacing: .2px
}

.DateRangePickerInput__arrow {
	display: inline-block;
	vertical-align: middle
}

.icon_12hl23n {
	color: #767676 !important;
	display: inline-block !important;
	vertical-align: middle !important
}

.button_1b5aaxl-o_O-button_large_c3pob4 {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 19px !important;
	line-height: 24px !important;
	letter-spacing: undefined !important;
	color: #484848 !important
}

.button_1b5aaxl-o_O-button_large_c3pob4 {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 15px !important;
	line-height: 18px !important;
	letter-spacing: .2px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	color: #484848 !important;
	background: #fff !important;
	border: 0 !important;
	border-radius: 4px !important;
	cursor: pointer !important;
	display: inline !important;
	text-align: left !important;
	padding: 11px 12px !important;
	position: relative !important;
	width: 100% !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	outline: none !important
}

.chevron_ki52l6 {
	color: #484848 !important;
	display: inline-block !important;
	vertical-align: middle !important;
	margin-left: 16px !important
}

.button_1b5aaxl-o_O-button_large_c3pob4 {
	font-size: 17px !important;
	line-height: 17px !important
}

.button_1b5aaxl-o_O-button_large_c3pob4 {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 15px !important;
	line-height: 18px !important;
	letter-spacing: .2px !important;
	color: #484848 !important;
	cursor: pointer !important;
	text-align: left !important;
	white-space: nowrap !important
}

.copy_14aozyc-o_O-copy_fakePlaceholder_10k87om {
	color: #767676 !important;
	margin-left: 8px !important;
	vertical-align: middle !important
}

.searchButton_n8fchz {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 19px !important;
	line-height: 15px !important;
	letter-spacing: undefined !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	color: #fff !important;
	padding-left: 18px !important;
	padding-right: 18px !important;
	border-radius: 4px !important;
	border: 0 !important;
	background: #ff5a5f !important;
	margin: 9px !important;
	margin-top: 14px !important;
	margin-left: 16px !important;
	height: 48px !important;
	text-align: center !important;
	display: inline-block !important;
	float: right !important
}

.container_1tvwao0::after {
	content: " " !important;
	display: table !important;
	clear: both
}

ul.home-menu {
	border-bottom: 1px solid #e4e4e4 !important;
	overflow: hidden;
	padding: 0;
	margin-top: 30px
}

ul.home-menu li {
	float: left;
	list-style: none
}

ul.home-menu li a {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 12px !important;
	line-height: 16px !important;
	letter-spacing: .4px !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	color: #484848 !important;
	background-color: transparent !important;
	border-width: 0 !important;
	border-bottom-width: 0;
	border-bottom: 2px solid transparent !important;
	bottom: -1px !important;
	cursor: pointer !important;
	display: inline-block !important;
	margin: 0 16px 0 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-decoration: none !important;
	font-weight: 700 !important;
	text-transform: uppercase
}

ul.home-menu li a.current {
	border-bottom: 2px solid #008489 !important;
	color: #008489 !important;
	-webkit-transition-property: color !important;
	-moz-transition-property: color !important;
	transition-property: color !important;
	-webkit-transition-duration: 300ms !important;
	transition-duration: 300ms !important;
	-webkit-transition-timing-function: ease-out !important;
	transition-timing-function: ease-out !important
}

.searchBarWrapper_1aq8p3r {
	display: block !important;
	padding-top: 32px !important;
	padding-bottom: 8px !important
}

.button_1b5aaxl {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 15px !important;
	line-height: 18px !important;
	letter-spacing: .2px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	color: #484848 !important;
	background: #fff !important;
	border: 0 !important;
	border-radius: 4px !important;
	cursor: pointer !important;
	display: inline !important;
	text-align: left !important;
	padding: 11px 12px !important;
	position: relative !important;
	width: 100% !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	outline: none !important
}

.icon_12hl23n {
	color: #767676 !important;
	display: inline-block !important;
	vertical-align: middle !important
}

svg:not(:root) {
	overflow: hidden
}

.copy_14aozyc {
	color: #484848 !important;
	margin-left: 8px !important;
	vertical-align: middle !important
}

.panel-drop-down {
	pointer-events: auto !important;
	background-color: #fff !important;
	border-top: 1px solid #dbdbdb !important;
	box-shadow: 0 0 2px 0 rgba(22, 22, 22, 0.2) !important;
	height: auto !important;
	overflow-y: hidden !important;
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	will-change: transform !important;
	border-bottom: 1px solid #dbdbdb !important
}

.panel-drop-down.hide-drop-down {
	top: -250px !important
}

.panelContent_1jzf86v {
	-webkit-overflow-scrolling: touch !important;
	overflow-y: auto !important
}

.container_gvf938-o_O-container_dropdown_bed46g {
	padding-top: 20px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding-bottom: 0 !important;
	display: table !important;
	vertical-align: top !important;
	width: 100% !important;
	border-bottom: none !important
}

.left_egy8rd {
	display: table-cell !important;
	text-align: left !important;
	vertical-align: middle !important;
	width: 30% !important
}

.container_1rp5252 {
	cursor: pointer !important;
	background-color: transparent !important;
	color: buttontext !important;
	border: 0 !important;
	display: block !important
}

.right_8ydhe {
	display: table-cell !important;
	text-align: right !important;
	vertical-align: middle !important;
	width: 30% !important
}

.text_5mbkop-o_O-size_small_1gg2mc {
	font-weight: normal !important;
	color: #484848 !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	margin: 0 !important;
	word-wrap: break-word !important;
	font-size: 15px !important;
	line-height: 18px !important;
	letter-spacing: .2px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important
}

.component_9w5i1l-o_O-component_button_r8o91c {
	color: #008489 !important;
	font: inherit !important;
	font-family: inherit;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	text-decoration: none !important;
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	background: transparent !important;
	border: 0 !important;
	cursor: pointer !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: left !important;
	-webkit-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important
}

.body_1sn4o6s-o_O-body_dropdown_7xdft6 {
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding: 20px !important
}

.button_1b5aaxl-o_O-button_border_hu7ym7-o_O-button_large_c3pob4 {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 15px !important;
	line-height: 18px !important;
	letter-spacing: .2px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	color: #484848 !important;
	background: #fff !important;
	border: 1px solid #e4e4e4 !important;
	border-radius: 4px !important;
	cursor: pointer !important;
	display: inline !important;
	text-align: left !important;
	padding: 11px 12px !important;
	position: relative !important;
	width: 100% !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	outline: none !important;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15) !important
}

.icon_12hl23n {
	color: #767676 !important;
	display: inline-block !important;
	vertical-align: middle !important
}

.bx-wrapper {
	position: relative;
	padding: 0;
	*zoom: 1;
	-ms-touch-action: pan-y;
	touch-action: pan-y
}

.home-bx-slider .bx-wrapper img {
	max-width: 100%;
	display: block;
	height: 220px !important;
	object-fit: cover
}

.bxslider {
	margin: 0;
	padding: 0
}

ul.bxslider {
	list-style: none
}

.home-bx-slider .bx-wrapper .bx-viewport {
	box-shadow: none !important;
	border: 0 !important;
	left: 0 !important;
	background: transparent !important
}

.bx-wrapper {
	box-shadow: none;
	border: 0;
	background: #fff;
	width: 100% !important;
	max-width: unset !important
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
	display: none !important
}

.bx-wrapper .bx-loading {
	min-height: 50px;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000
}

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
	background: #000
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline
}

.bx-wrapper .bx-pager-item {
	font-size: 0;
	line-height: 0
}

.home-bx-slider .bx-wrapper .bx-prev {
	left: -45px;
	background: url('../images/left-slider-arrow.png');
	background-repeat: no-repeat
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
	background-position: 0 0
}

.bx-arrow-next {
	background: url(../images/right-slider-arrow.png);
	position: absolute;
	top: 55%;
	right: -30px;
	text-indent: -9999;
	width: 30px;
	height: 30px
}

.rowHeader {
	font-size: 22px !important;
	line-height: 28px !important;
	letter-spacing: -0.2px !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	color: #484848 !important;
	font-weight: 700 !important;
	margin-bottom: 0 !important
}

.seeMoreContainer_11b8zgn {
	padding-bottom: 22px !important
}

.button_ops1o9-o_O-text_13lu1ne-o_O-button_flushRight_s5eog0 {
	border: none !important;
	cursor: pointer !important;
	background: transparent !important;
	padding-top: undefined !important;
	padding-bottom: undefined !important;
	padding-right: 0 !important;
	padding-left: 10px !important;
	white-space: nowrap !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 14px !important;
	line-height: 18px !important;
	letter-spacing: undefined !important;
	color: #484848 !important;
	margin-right: 0 !important
}

.text_13lu1ne {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
	font-size: 14px !important;
	line-height: 18px !important;
	letter-spacing: undefined !important;
	padding-top: undefined !important;
	padding-bottom: undefined !important;
	color: #484848 !important;
	margin-right: 6px !important
}

.bx-arrow-prev {
	background: url(../images/left-slider-arrow.png);
	position: absolute;
	top: 55%;
	left: -30px;
	text-indent: -9999;
	width: 30px;
	height: 30px
}

.home-bx-slider .bx-wrapper .bx-next {
	right: -45px;
	background: url('../images/right-slider-arrow.png') !important;
	background-repeat: no-repeat
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
	background-position: -43px 0
}

.home-bx-slider .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50% !important;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 999
}

.icon-star,
.icon-star-alt,
.thread-star {
	color: #008489 !important
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none
}

.bx-wrapper .bx-controls-auto {
	text-align: center
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url('images/controls.png') -86px -11px no-repeat;
	margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
	background-position: -86px 0
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url('images/controls.png') -86px -44px no-repeat;
	margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
	background-position: -86px -33px
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px
}

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666;
	background: rgba(80, 80, 80, 0.75);
	width: 100%
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px
}

.container-brand-dark {
	padding: 50px 0;
	background-image: none !important;
	background-color: #fff !important;
	color: #484848 !important;
	border-top: 1px solid #dce0e0
}

.selectboxit-container .selectboxit {
	padding: 12px 7px 5px 7px !important;
	height: 45px
}

.selectboxit-btn,
.selectboxit-list {
	background-color: #fff;
	border: 1px solid #dce0e0!important;
	color: #484848 !important
}

.selectboxit-btn.selectboxit-open {
	border: 1px solid #008489 !important
}

.foot-column {
	margin: 0 auto;
	width: 51%
}

.link-contrast.footer-icon-container:hover {
	text-decoration: none !important
}

.footer-icon-container {
	width: 20px !important
}

.selectboxit-list .selectboxit-option-anchor {
	color: #484848 !important
}

.link-contrast {
	color: #767676 !important;
	font-weight: bold;
	line-height: 25px
}

.link-contrast:hover,
.link-contrast:focus,
.link-contrast:active {
	text-decoration: underline !important
}

.selectboxit-default-arrow {
	width: 30px;
	height: 30px;
	border-top: 6px solid #fff;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	font-size: 20px !important;
	background: url(../images/down-slider-arrow.png);
	float: right;
	background-size: 25px;
	background-repeat: no-repeat;
	margin-top: -6px !important
}

span.pull-left.r-label.ng-binding {
	font-size: 12px;
	text-transform: lowercase;
	margin-top: 3px
}

.selectboxit-list>.selectboxit-focus>.selectboxit-option-anchor {
	color: #fff !important
}

.selectboxit-arrow-container {
	width: 30px;
	margin-top: 0 !important
}

.half-big .discovery-card {
	height: 220px
}

.half-small .discovery-card {
	height: 200px
}

.bx-arrow-prev.disabled {
	display: none !important
}

.bx-arrow-next.disabled {
	display: none !important
}

.lazy-load-div {
	padding: 0;
	direction: ltr !important
}

.lazy-load-div.lazy-load {
	max-height: 100px;
	overflow: hidden
}

.lazy-load::after {
	content: " " !important;
	background: url('../images/dot_loading.gif') center center no-repeat #fff;
	background-size: 40px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

@media(min-width:1128px) {
	.button_1b5aaxl-o_O-button_large_c3pob4 {
		font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
		font-size: 19px !important;
		line-height: 24px !important;
		letter-spacing: undefined !important;
		padding-top: 8px !important;
		padding-bottom: 12px !important;
		color: #484848 !important;
		padding-left: 8px !important;
		padding-right: 8px !important
	}
}

@media(min-width:1100px) {
	.page-container-responsive {
		width: 1080px
	}
}

@media(min-width:760px) {
	.pad-sm-20 {
		padding-top: 20px
	}
	body.remove-pos-fix.pos-fix {
		position: relative !important
	}
}

@media(min-width:1020px) and (max-width:1099px) {
	.page-container-responsive {
		width: 855px
	}
	.foot-column {
		width: 70%
	}
	.columnn-foot {
		min-height: 200px !important
	}
	.gst_icon {
		padding-right: 20px
	}
}

@media(min-width:760px) and (max-width:1019px) {
	.columnn-foot {
		min-height: 260px !important
	}
	.foot-column {
		width: 80%
	}
	.gst_icon {
		background-position: right center;
		font-size: 15px;
		padding-right: 20px;
		font-family: arial
	}
	.searchButton_n8fchz {
		font-size: 15px !important;
		line-height: 15px !important;
		padding: 10px 10px 8px !important;
		height: auto !important;
		margin: 12px 5px 12px 10px !important
	}
}

@media(min-width:760px) and (max-width:1099px) {
	.half-small .discovery-card,
	.half-big .discovery-card {
		height: 160px !important
	}
	.textHeaderContainerMarginTop_13o8qr2-o_O-textHeaderContainerWidth_peyti4 {
		width: 70% !important
	}
	.textHeader_8yxs9w {
		font-size: 30px !important;
		line-height: 36px !important
	}
	.gst_icon {
		width: auto;
		background-position: right center
	}
	.searchButton_n8fchz {
		font-size: 15px !important;
		line-height: 15px !important;
		padding: 10px 12px 8px !important;
		margin: 24px 5px 0 !important;
		height: auto !important
	}
}

@media(max-width:760px) {
	.columnContentContainer {
		text-align: center;
		width: 60%;
		margin: 0 auto
	}
	.half-small .discovery-card,
	.half-big .discovery-card {
		height: 160px !important
	}
	.columnn-foot .iconContainer,
	.columnn-foot .textContainer {
		display: unset !important;
		float: none !important;
		margin: 0 !important;
		text-align: center
	}
	.columnn-foot .iconContainer svg {
		margin-bottom: 15px
	}
	.container-brand-dark {
		margin-top: 10px !important
	}
	.footer-container.container-brand-dark {
		margin-top: 0 !important;
		display: block !important
	}
	.columnn-foot {
		padding: 0 0 0 !important;
		min-height: unset !important;
		max-height: unset !important;
		border-left: 0!important;
		border-top: 0 solid #dce0e0!important
	}
	.columnn-foot .columnContentContainer {
		border-left: 0 solid #dce0e0!important;
		border-top: 1px solid #dce0e0!important;
		padding: 60px 0
	}
	.float-none-sm {
		float: none !important;
		text-align: center !important
	}
	.columnn-foot:first-child {
		border-top: 0 solid #dce0e0!important
	}
	.columnn-foot:first-child .columnContentContainer {
		border-top: 0 solid #dce0e0!important
	}
	.textHeader_8yxs9w {
		font-size: 25px !important;
		line-height: 30px !important;
		letter-spacing: -0.6px !important
	}
	.home-bx-slider .bx-wrapper .bx-controls-direction a {
		top: 56% !important
	}
	.home-bx-slider .bx-wrapper .bx-next {
		right: -33px !important;
		background-size: 25px !important
	}
	.home-bx-slider .bx-wrapper .bx-prev {
		left: -25px !important;
		background-size: 25px !important
	}
	.bx-arrow-next {
		top: 59% !important;
		right: -13px !important;
		width: 24px !important;
		background-size: 23px
	}
	.bx-arrow-prev {
		top: 59% !important;
		left: -13px !important;
		width: 24px !important;
		background-size: 23px
	}
	ul.home-menu li a {
		font-size: 11px !important;
		margin: 0 10px 0 0 !important
	}
	.no-mar-sm {
		margin-top: 0 !important
	}
	.textHeaderContainerMarginTop_13o8qr2-o_O-textHeaderContainerWidth_peyti4 {
		margin-top: 0 !important
	}
	.mini-rel-top {
		position: relative;
		top: 55px
	}
	.textHeader_8yxs9w {
		font-size: 25px !important;
		line-height: 30px !important;
		letter-spacing: -0.6px !important
	}
	.textHeaderContainerMarginTop_13o8qr2-o_O-textHeaderContainerWidth_peyti4 {
		width: 100% !important
	}
	.background {
		display: none !important
	}
	.foreground {
		margin-bottom: 7px
	}
}