

	
<div class="row" style="width:100%;">
<div class="col1" style="float:left; margin-left:10px;">
<form method="post" action="https://www.websitesowner.in/jill/calender/ical_link/PHPtoICS.php" id="ical_ID" enctype="multipart/form-data">
<input type="hidden" name="prop_ical" value="5" />
<input type="submit" id='sub_ical' name="sub_ical" value="Export Calender(Get an ics link)" />
</form>
</div>
</div>

<script src="../../../../ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
<script>
$(document).ready(function(e) {
   $(window).load(function(){
	 $('.spinner', window.parent.document).hide();
	  $('#tt', window.parent.document).show();
	  $('#pp', window.parent.document).show();
}); 
});
</script>

