

	
<div class="row" style="width:100%;">
<div class="col1" style="float:left;">					<form action="https://www.websitesowner.in/jill/calender/ical_link/index1.php" method="post" id="formID" enctype="multipart/form-data">
                   <!-- <input type="file" class="input" name="ical_file" />-->
                    Ical link: <input class="input" size="65" name="ical_url" value="http://admin.vrbo.com/icalendar/692bce76b7724ae286f1ff34653b1811.ics" type="text">
                    <input class="input" id="db_host" name="db_host" value="localhost" type="hidden">
                    <input class="input" id="db_port" name="db_port" value="3306" type="hidden" onChange="portChanged(true);">
                    <input class="input" name="db_name" value="jill_database" type="hidden">
                    <input class="input" name="db_user" value="jill_database" type="hidden">
                    <input class="input" name="db_pass" value="g^EZ4RS7BG]b" type="hidden">
                    <input class="input" name="db_table" value="ical_events" type="hidden">
                    <input type="hidden" name="db_delete_old_data"  />
                    <button id="nbut" class="continue-button" type="submit" name="next">Import Calendar</button>
                    </form>
		
</div></div>

<script src="../../../../ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
<script>
$(document).ready(function(e) {
   $(window).load(function(){
	 $('.spinner', window.parent.document).hide();
	  $('#tt', window.parent.document).show();
	  $('#pp', window.parent.document).show();
}); 
});
</script>

<script type="text/javascript">
	 setTimeout(function(){
		 $('#ical_ID').submit();
      $('#formID').submit();
	  $('.spinner', window.parent.document).show();
	  $('#pp', window.parent.document).hide();
	  $('#tt', window.parent.document).hide();
    },1000);
</script>
