.makent-header .header-belo {
  background-position: 45% 50% !important;
  display: block;
  height: 61px !important;
  padding: 8px !important;
  margin: 0;
  left: 0;
  background-repeat: no-repeat !important;
  background-size: auto 100%;
}

.btn-special {
  font-weight: unset !important;
  font-size: unset !important;
  background-color: unset !important;
  border-width: unset !important;
  position: unset !important;
  top: unset !important;
  border-color: unset !important;
  color: unset !important;
  border-radius: 0 !important;
}

body {
  background: #fff !important;
}

.makent-header .nav li a {
  display: block;
  height: auto !important;
  padding: 0 0 5px 0;
  border-left: 0 !important;
  font-size: 13px !important;
  font-weight: normal !important;
}

.makent-header .list-your-space #list-your-space {
  white-space: normal;
  font-size: 13px !important;
  color: #565a5c !important;
  text-decoration: none !important;
  border: 0;
  padding: 0 0 2px 0 !important;
}

.makent-header .list-your-space .become:hover {
  border-bottom: 2px solid #565a5c !important;
}

.makent-header .nav li a:hover,
.makent-header .nav li a:focus {
  background: #f5f5f5;
}

.makent-header .nav li a:hover,
.makent-header .nav li a:focus {
  background: transparent;
  border-bottom: 2px solid #565a5c !important;
  text-decoration: none !important;
}

.makent-header .nav li {
  position: relative;
  padding: 20px 20px 15px 20px !important;
}

.top-home .btn-large.btn-block {
  font-size: 19px !important;
  padding: 11px 20px !important;
  border-radius: 5px;
}

.icon-btn.btn-large .icon {
  position: relative !important;
  font-size: 19px !important;
  top: 2px !important;
  left: -10px !important;
  float: none !important;
}

.js-become-a-host-tooltip:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  bottom: auto;
  border: 10px solid transparent;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

.social-buttons .text-container,
.create-using-email.btn-block .text-container,
.log_pop .panel-body .text-container,
.login_popup .panel-body .text-container {
  margin-left: 0;
  padding-left: 10px;
  float: right;
  width: 70%;
  text-align: left;
}

.social-buttons .icon-container,
.create-using-email.btn-block .icon-container,
.log_pop .panel-body .icon-container,
.login_popup .panel-body .icon-container {
  width: 30%;
  display: inline-block;
  float: left;
  text-align: right;
}

.create-using-email.btn-block .icon.icon-envelope {
  margin-top: 3px;
  display: inline-block;
}

.btn-facebook {
  cursor: pointer !important;
  -webkit-transition: background 0.3s, border-color 0.3s !important;
  -moz-transition: background 0.3s, border-color 0.3s !important;
  transition: background 0.3s, border-color 0.3s !important;
  position: relative !important;
  display: inline-block !important;
  text-align: center !important;
  text-decoration: none !important;
  border: 2px solid transparent !important;
  border-radius: 4px !important;
  width: 100% !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 19px !important;
  line-height: 22px !important;
  letter-spacing: undefined !important;
  color: #fff !important;
  font-weight: 700 !important;
  background: #4568b2 !important;
}

.btn.icon-btn.btn-block.btn-large.btn-google {
  cursor: pointer !important;
  -webkit-transition: background 0.3s, border-color 0.3s !important;
  -moz-transition: background 0.3s, border-color 0.3s !important;
  transition: background 0.3s, border-color 0.3s !important;
  position: relative !important;
  display: inline-block !important;
  text-align: center !important;
  text-decoration: none !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  width: 100% !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 19px !important;
  line-height: 22px !important;
  letter-spacing: undefined !important;
  color: #484848 !important;
  font-weight: 700 !important;
  background: #fff !important;
  border-color: #767676 !important;
}

.signup-or-separator {
  height: 60px;
  width: 100%;
  padding: 15px 0;
}

.signup-or-separator--text {
  font-size: 15px !important;
  font-weight: bold !important;
  text-transform: lowercase !important;
  font-style: normal;
}

.signup-or-separator hr {
  width: 100% !important;
}

.js-become-a-host-tooltip:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -9px;
  left: 85%;
  margin-left: -9px;
  bottom: auto;
  border: 9px solid transparent;
  border-top-width: 9px;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-top: 0;
  border-bottom-color: #fff;
}

.js-become-a-host-dropdown {
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
  -moz-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
  -ms-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
  -o-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
  min-width: 400px !important;
}

.panel-body + .panel-body:before {
  display: none !important;
}

.header-avatar-trigger {
  width: auto !important;
}

.makent-header .regular-header .alert-count {
  position: absolute;
  top: -8px !important;
  right: -14px !important;
}

.user-item.pull-left.medium-right-margin.dropdown-trigger {
  padding: 15px 10px 10px 10px !important;
}

.makent-header .user-item .user-profile-image {
  position: relative;
  left: 0 !important;
  top: 0 !important;
  float: left;
}

#header-avatar-trigger {
  height: 38px !important;
}

.makent-header {
  border-bottom: 0 !important;
}

.drop-down-menu-login {
  right: 2px !important;
}

.dropdown-trigger .tooltip-top-right::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px !important;
  right: 14px !important;
  bottom: auto !important;
  border: 10px solid transparent !important;
  border-top-width: 10px !important;
  border-top-style: solid !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-top: 0 !important;
  border-bottom-color: rgba(0, 0, 0, 0.1) !important;
  left: auto !important;
}

.tooltip.tooltip-top-right.dropdown-menu.drop-down-menu-login li {
  padding: 0 !important;
}

.tooltip.tooltip-top-right.dropdown-menu.drop-down-menu-login li a {
  font-size: 15px !important;
  font-size: 15px !important;
  padding: 20px;
}

.drop-down-menu-login a:hover {
  background: transparent !important;
  left: 0 !important;
  border-bottom: 1px solid #565a5c !important;
}

.header-logo {
  background-repeat: no-repeat;
}

.makent-header .header--sm .nav-content--sm.right-content {
  left: 0 !important;
  top: 69px;
}

.makent-header .header--sm .nav-content--sm {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  border: 0;
  background: #fff;
  color: #565a5c;
  font-size: 17px !important;
  -webkit-transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  top: -400px;
}

.makent-header .header--sm .burger--sm {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 120px;
  height: 40px;
}

.makent-header .header--sm .nav-content--sm ul li a {
  font-size: 17px !important;
}

.makent-header .header--sm .nav-content--sm ul li a:hover {
  color: #565a5c !important;
}

#header-search {
  padding: 0 !important;
}

.makent-header .search-form .search-bar .icon-search {
  background: url("../images/search-icon-copy.png");
}

.regular-header {
  height: 58px !important;
}

.makent-header .search-form .location {
  padding: 22px 4px 17px 50px !important;
}

.msg-icon1,
.trip-pos,
.help-pos,
.value_name {
  position: relative;
  top: 0 !important;
}

.trips-icon,
.msg-icon,
.help-icon,
.value_name {
  display: none !important;
}

.fa.fa-bars,
.fa.fa-bars-up {
  font-size: 21px !important;
  padding: 5px !important;
  color: #aaa !important;
  float: right;
  position: relative;
  top: 7px;
  left: 10px;
}

.fa-bars::before {
  content: "\f107" !important;
}

.fa-bars-up::before {
  content: "\f106" !important;
}

.makent-header .header--sm .title--sm {
  margin: 0 25px 0 92px !important;
}

.btn .icon:first-child {
  margin-right: -15px;
  float: right;
  font-size: 19px;
}
#edit-profile {
  font-size: 13px;
}

.makent-header .header--sm {
  position: relative;
  height: 69px;
}

.makent-header .header--sm .title--sm .search-btn--sm {
  padding: 22px 21px;
  border-left: 1px solid #ccc;
  border: 0;
  --/text-align: left !important;
  font-size: 17px;
}

.makent-header .header--sm .title--sm {
  padding-top: 0 !important;
}

@media (min-width: 765px) and (max-width: 1300px) {
  .trip-pos,
  .msg-icon1,
  .help-pos {
    display: block !important;
  }
}

.rm_lg {
  color: #767676;
  display: inline-block;
  padding: 0 0 20px;
  cursor: pointer;
}

.btn.btn-block.btn-large.mr1 {
  margin-top: 8px;
}

.log_pop {
  max-width: 568px;
  min-width: 420px;
}

.link_color {
  color: #008489;
  letter-spacing: 0.2px;
}

#user-login-btn.btn_new {
  width: 100% !important;
  float: none !important;
  background-color: #d8b74e !important;
  border: 0;
  position: inherit;
  padding: 10px !important;
  border-radius: 0;
}

.bottom-panel1 {
  font-size: 18px;
  padding: 0 32px 32px;
}

.padd1 {
  padding: 32px 32px 18px;
}

.input_new {
  background-color: #fff;
  border-color: #dbdbdb;
}

.input_new:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.input_new:focus {
  border-color: #008489;
}

.field_ico {
  position: relative;
}

.field_ico i {
  position: absolute;
  right: 14px;
  top: 13px;
  font-size: 19px;
  color: #484848;
}

.btn-primary.btn.btn_new1 {
  background-color: #ff5a5f !important;
  border-color: #ff5a5f !important;
}

.lettr_spc {
  letter-spacing: 0.4px;
}

.style1 {
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 22px;
}

.header-avatar-trigger:focus {
  border: 0;
}

.signup-form-fields + .btn-large.btn-block {
  float: none;
}

.tooltip.tooltip-top-right.dropdown-menu.drop-down-menu-login {
  opacity: 1;
}

@media screen and (max-width: 1100px) {
  .social-buttons .text-container,
  .create-using-email.btn-block .text-container,
  .log_pop .panel-body .text-container,
  .login_popup .panel-body .text-container {
    width: 80%;
  }
  .social-buttons .icon-container,
  .create-using-email.btn-block .icon-container,
  .log_pop .panel-body .icon-container,
  .login_popup .panel-body .icon-container {
    width: 20%;
  }
}

@media screen and (max-width: 767px) {
  .makent-header .header--sm {
    z-index: 99;
    background: #fff;
  }
  .nav-menu .menu-item.js-show-how-it-works {
    display: none;
  }
  .room-type-filter--sm .modal-filter.needsclick:nth-of-type(3n + 1) {
    clear: left;
  }
}

@media screen and (max-width: 500px) {
  .social-buttons .text-container,
  .create-using-email.btn-block .text-container,
  .log_pop .panel-body .text-container,
  .login_popup .panel-body .text-container {
    width: 85%;
    font-size: 13px !important;
  }
  .social-buttons .icon-container,
  .create-using-email.btn-block .icon-container,
  .log_pop .panel-body .icon-container,
  .login_popup .panel-body .icon-container {
    width: 15%;
  }
  .top-home .social-buttons .btn-large,
  .log_pop .panel-body .btn-large {
    margin: 5px 0 !important;
  }
  .create-using-email.btn-block .icon.icon-envelope {
    margin-top: 0;
  }
}
