.superhost-panel .panel {
  position: relative;
}

.superhost-panel .superhost-dashboard .panel-header {
  cursor: pointer;
}

.superhost-panel .btn-beach {
  border-color: #ffb400;
  background-color: #ffb400;
  color: #fff;
}

.superhost-panel .btn-beach:hover,
.superhost-panel .btn-beach:focus {
  border-color: #ffbe24;
  background-color: #ffbe24;
  color: #fff;
}

.superhost-panel .btn-beach:active {
  border-color: #a67500;
  background-color: #a67500;
  color: #fff;
}

.superhost-panel .sh-sprite {
  background-image: url("../images/superhost-sprite-8f0cfc956da55442ba5904514ba81ee0.png");
  background-repeat: no-repeat;
  margin: 0 auto;
}

.superhost-panel .sh-badge {
  background-position: -375px -445px;
  height: 98px;
  width: 55px;
}

.superhost-panel .sh-unlock {
  background-image: url("../images/unlock-superhost-e9df668d75093ad79c3de3e47aa07069.png");
  background-repeat: no-repeat;
  margin: 0 auto 30px auto;
  height: 70px;
  width: 84px;
}

.superhost-panel .success {
  color: #3fb34f;
}

.superhost-panel .superhost-metric {
  cursor: pointer;
  margin-bottom: 20px;
}

.superhost-panel
  .superhost-metric.full-width-hack
  .superhost-progress-container {
  border-right: transparent;
}

.superhost-panel .superhost-metric.percentage .help-container {
  position: relative;
  left: 4px;
}

.superhost-panel .superhost-metric.percentage .tooltip-success {
  width: 52px;
}

.superhost-panel .superhost-metric-label {
  color: #82888a;
}

.superhost-panel .superhost-metric-label.success.hovered {
  color: #3fb34f;
}

.superhost-panel .superhost-metric-label.default.hovered {
  color: #3c3f40;
}

.superhost-panel .superhost-metric-value {
  margin-bottom: 0;
  font-size: 21px;
}

.superhost-panel .superscript {
  top: -0.75em;
  left: -0.5em;
  font-size: 10px;
}

.superhost-panel .superhost-metric-details {
  max-width: 228px;
  color: #3c3f40;
}

.superhost-panel .superhost-progress-container {
  position: relative;
}

.superhost-panel .progress {
  position: absolute;
  border-radius: 0;
  border-color: transparent;
  height: 8px;
  width: 100%;
  top: 4px;
}

.superhost-panel .progress.hovered {
  height: 8px;
  top: 4px;
}

.superhost-panel .progress-bar-default {
  background-color: #565a5c;
}

.superhost-panel .progress-bar-marker {
  position: relative;
  height: 16px;
}

.superhost-panel .progress-bar-marker.hovered {
  height: 16px;
}

.superhost-panel .progress-bar-marker .success {
  border-color: #3fb34f;
  border-right: 4px solid;
}

.superhost-panel .tooltip-success {
  position: absolute;
  background-color: #3fb34f;
  color: white;
  width: 35px;
  height: 25px;
}

.superhost-panel .tooltip-success:before,
.superhost-panel .tooltip-success:after {
  border-color: #3fb34f transparent transparent transparent;
}

.superhost-panel .tooltip-success.tooltip-bottom-middle:before,
.superhost-panel .tooltip-success.tooltip-bottom-middle:after {
  bottom: -5px;
  margin-left: -5px;
  border-width: 5px;
}

.superhost-panel .tooltip-success .panel-body {
  padding: 3px;
}

.superhost-panel .superhost-mini-dashboard {
  min-height: 391px;
}

.superhost-panel .superhost-promo {
  min-height: 392px;
}

.superhost-panel .superhost-promo .background {
  background-color: #e8f5f6;
}

.superhost-panel .superhost-promo h4 {
  color: #6d7275;
}

.superhost-panel .superhost-promo p {
  font-size: 14px;
}

.superhost-panel .superhost-promo .sh-badge {
  background-position: -375px -445px;
  height: 98px;
  width: 55px;
  margin: 0 auto 30px auto;
}

.superhost-panel .superhost-overlay {
  background-color: #79cccd;
  text-align: center;
  color: white;
  padding: 10px;
}

.superhost-panel .superhost-overlay button {
  border-color: #ffb400 !important;
  background-color: #ffb400 !important;
  margin-top: 40px;
}

.superhost-panel .superhost-overlay a {
  display: block;
  color: white;
  text-decoration: underline;
}

.superhost-panel .superhost-overlay-bottom {
  background-color: #95d5d6;
  margin: 0 -10px -10px;
  border-top: 0;
}

.superhost-panel .superhost-celebration .h5 {
  position: absolute;
  left: 0;
  top: 45%;
  color: #fff;
}

.host-dashboard .superhost-panel p {
  color: #565a5c;
}

.host-dashboard h3,
.host-dashboard h4 {
  color: #565a5c;
}

.host-dashboard .superhost-mini-dashboard > h4 {
  margin-bottom: 38px;
}

.host-dashboard .superhost-mini-dashboard > strong {
  font-size: 14px;
  line-height: 1.43;
  color: #565a5c;
}

.host-dashboard .superhost-mini-dashboard > p {
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 1.43;
  color: #565a5c;
}

.onboarding-modal .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #565a5c;
}

.onboarding-modal .modal-content {
  max-width: 766px;
}

.carousel-slides-container {
  overflow: hidden;
  position: relative;
  height: 400px;
}

.carousel-slides-container-inner {
  position: absolute;
  left: 0;
  width: 401%;
  -webkit-transition: left ease-out 300ms;
  -moz-transition: left ease-out 300ms;
  -o-transition: left ease-out 300ms;
  transition: left ease-out 300ms;
}

.carousel-slide {
  float: left;
  width: 766px;
}

.carousel-slide-window {
  height: 300px;
  position: relative;
  overflow: hidden;
}

.carousel-slide-caption {
  height: 100px;
}

.carousel-dot {
  display: inline-block;
  margin: 2px 4px;
}

.onboarding-intro {
  background-color: #00d1c1;
  padding: 80px 80px 0;
  color: #fff;
}

.carousel-slide-image {
  position: relative;
}

.carousel-slide-1 .carousel-slide-image {
  top: -300px;
}

.carousel-slide-2 .carousel-slide-image {
  top: -600px;
}

.carousel-slide-3 .carousel-slide-image {
  top: -900px;
}

.carousel-slide-window-foreground {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 80px 74px;
}

.carousel-slide-window-foreground:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.carousel-slide-0 .carousel-slide-window-foreground {
  padding: 150px 100px;
  color: #fff;
}

.carousel-slide-1 .carousel-slide-window-foreground {
  padding: 89px 73px;
}

.carousel-fake-tabs {
  margin-bottom: 55px;
}

.carousel-fake-tabs li {
  margin-right: 25px;
  position: relative;
}

.carousel-fake-tabs li .alert-count {
  top: -5px;
}

.carousel-fake-messages li {
  margin-bottom: 63px;
  padding: 0 20px 0 83px;
}

.carousel-inbox-inner {
  padding: 34px 18px;
}

.referral-panel .divider {
  border-right: 1px solid #cacccd;
}

.referral-panel .help-link {
  vertical-align: middle;
}

.referral-panel .icon-question {
  font-size: 21px;
  vertical-align: middle;
}

.referral-panel .icon-edit {
  font-size: 21px;
  vertical-align: middle;
}

.icon-strong {
  font-weight: bold;
}

.icon-size-1-5 {
  font-size: 1.6em;
}

.alert-count {
  position: absolute;
  top: 8px;
  right: -9px;
  display: inline-block;
  min-width: 9px;
  padding: 0 3px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  border: 1px solid #ff5a5f;
  background: #ff5a5f;
}

.relative {
  position: relative;
}

.hdb-light-bg {
  background-color: #fff;
}

.text-very-light {
  color: #b3b3b3;
}

.text-large {
  font-size: 16px;
}

.darken-on-hover-container {
  background: #000;
  padding: 0;
}

.darken-on-hover-container .darken-on-hover {
  -webkit-transition: opacity ease-in-out 200ms;
  -moz-transition: opacity ease-in-out 200ms;
  -o-transition: opacity ease-in-out 200ms;
  transition: opacity ease-in-out 200ms;
}

.darken-on-hover-container:hover .darken-on-hover {
  opacity: 0.85;
}

.panel-border-babu {
  border-top: 2px solid #00d1c1 !important;
}

.text-babu {
  color: #00d1c1;
}

.panel-padding {
  padding: 40px;
}

.panel-padding-medium {
  padding: 15px;
}

.panel-babu {
  background-color: #00d1c1;
  border: 1px solid #00d1c1;
}

.progress-bar-new {
  background-color: #00d1c1;
}

.alt-bg-module-panel-container {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.alt-bg-module-panel-container:nth-child(2n + 1) {
  background-color: #fff;
}

.alt-bg-module-panel-container:nth-child(2n + 1) .hdb-alt-panel-bg {
  background-color: #f5f5f5;
}

.alt-bg-module-panel-container:nth-child(2n)
  .alt-bg-module-panel-loading:after {
  background-color: whitesmoke;
}

.collapsed-header {
  height: 210px;
}

.header-color {
  background-color: #41bfb6;
}

@media (max-width: 767px) {
  .header-color {
    background-color: #69c7be;
  }
}

.text-kazan {
  color: #007a87;
}

.panel-right {
  background-color: #69c7be;
}

.header-background {
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
}

.header-right-panel {
  margin-top: -40px;
}

.header-anchor {
  position: absolute;
  bottom: 0;
}

@-webkit-keyframes floating {
  50% {
    -webkit-transform: translate(0, 15px);
  }
}

@-moz-keyframes floating {
  50% {
    -moz-transform: translate(0, 15px);
  }
}

@keyframes floating {
  50% {
    transform: translate(0, 15px);
  }
}

.milestone-image {
  position: absolute;
  bottom: 0;
  padding: 0 14px;
  width: 650px;
}

@media (min-width: 768px) and (max-width: 1099px) {
  .milestone-image {
    width: 460px;
  }
}

.freq-100-nights {
  width: 728px;
  left: -60px;
}

@media (min-width: 768px) and (max-width: 1099px) {
  .freq-100-nights {
    left: -190px;
  }
}

.milestone-superhost {
  width: 440px;
}

.social-container {
  position: absolute;
  bottom: 0;
  left: -50px;
  padding: 10px 14px;
}

@media (min-width: 768px) and (max-width: 1099px) {
  .social-container {
    left: -30px;
  }
}

.social-container .social-button {
  padding: 0 0.15em;
}

.social-container .social-button a {
  color: #fff;
}

.social-container .social-text {
  color: #fff;
  text-rendering: optimizelegibility;
}

.animation-buildings {
  bottom: 0;
  position: absolute;
  width: 172px;
}

.animation-people {
  bottom: 0;
  left: 526px;
  position: absolute;
  width: 82px;
}

@media (min-width: 768px) and (max-width: 1099px) {
  .animation-people {
    left: 380px;
  }
}

.animation-balloon {
  position: absolute;
  width: 85px;
  bottom: 200px;
  left: 460px;
  -webkit-animation-name: floating;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: floating;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@media (min-width: 768px) and (max-width: 1099px) {
  .animation-balloon {
    left: 334px;
  }
}

.animation-text {
  position: absolute;
  bottom: 75px;
  left: 200px;
}

.btn-light-contrast {
  background-color: rgba(255, 255, 255, 0.6);
  border-style: none;
}

.btn-light-contrast:hover {
  background-color: #fff;
}

.anchor-kazan {
  color: #007a87;
}

.anchor-kazan:hover,
.anchor-kazan:visited {
  color: #007a87;
}

.no-trailing-space {
  margin-right: -4px;
}

.one-px-down {
  margin-top: 1px;
}

@media (min-width: 768px) {
  .pending-req-res-row .col-height {
    height: 54px;
  }
}

.pending-req-res-row .countdown-container {
  position: relative;
}

.pending-req-res-row .countdown-container .countdown {
  position: absolute;
  min-width: 70px;
  margin-top: -9px;
  right: 15px;
}

.pending-req-res-row,
.pending-req-res-more {
  cursor: pointer;
}

.pending-req-res-more a:hover {
  text-decoration: underline;
}

.no-req-res-row {
  padding: 39px 0;
  margin-left: 20px;
}

.pending-req-res-more {
  padding: 36px 0;
}

#host-dashboard-container {
  background-color: #fff;
  position: relative;
}

#host-dashboard-container .loading-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#host-dashboard-container .pending-req-res-row .dot {
  height: 2px;
  width: 2px;
  vertical-align: middle;
  margin: 0 6px;
}

#host-dashboard-container .tab-item[aria-selected="true"]:before {
  background-color: #00d1c1;
}

#host-dashboard-container .response-text {
  color: #00d1c1;
  float: right;
  margin-top: 6px;
}

#host-dashboard-container .response-text.low {
  color: #ff5a5f;
}

#host-dashboard-container .progressbar-container {
  float: right;
  width: 40px;
}

.circular-progress {
  position: absolute;
  right: 28px;
  top: 3px;
}

.circular-progress svg circle {
  stroke: #cacccd;
}

.circular-progress svg .bar {
  stroke: #00d1c1;
}

.alerts-anchor {
  color: #565a5c;
}

.alerts-anchor:hover {
  color: #565a5c;
}

.large-alert {
  min-height: 54px;
}

.tasks-module-row {
  margin-left: 0;
  margin-right: 0;
}

.tasks-list {
  padding-right: 50px;
}

@media (max-width: 767px) {
  .tasks-list {
    float: none;
  }
}

.tasks-list .task-title {
  color: #565a5c;
}

.tasks-list .task-subtitle {
  color: #9ca299;
  font-size: 14px;
}

.tasks-right-panel.hosting-tips {
  background-color: rgba(0, 209, 193, 0.08);
}

.tasks-right-panel.hosting-tips .tasks-sprite {
  height: 95px;
  background-image: url("../images/tips-for-hosting-8c9682c2797db895f52675f9f8a92c3b.png");
  background-position: center;
  background-repeat: no-repeat;
}

.tasks-right-panel.hosting-tips .right-panel-title {
  color: rbga(#565a5c, 0.6);
  font-size: 18px;
  font-weight: bold;
}

.tasks-right-panel.hosting-tips .right-panel-subtitle {
  color: #9ca299;
  font-size: 14px;
}

.tasks-right-panel.similar-listings .right-panel-title {
  color: #00d1c1;
}

.tasks-right-panel.similar-listings .panel-image {
  height: 210px;
}

.select-rausch select {
  background-color: #ff5a5f;
  color: #fff;
  font-weight: bold;
  border-color: #ff5a5f;
}

.select-rausch:before {
  color: #fff;
}

.select-rausch select::-ms-value,
.select-rausch option {
  color: #565a5c;
}

.ie11 .select-rausch select,
.ie10 .select-rausch select,
.ie .select-rausch select {
  color: #565a5c;
  border-color: #c4c4c4;
  font-weight: normal;
}

.ie11 .select-rausch:before,
.ie10 .select-rausch:before,
.ie .select-rausch:before {
  color: #565a5c;
}

.guest-profile-img .media-cover {
  background-position: center center;
}

.media-cover {
  background-size: cover;
}

.single-card .guest-profile-img {
  height: 252px;
}

.single-card .checkin-checkout-date,
.single-card .nice-checkin-day {
  margin-bottom: 10px;
}

.single-card .listing-title,
.single-card .guest-meta-data {
  display: inline;
}

.double-card .guest-profile-img {
  height: 222px;
}

.double-card .nice-checkin-day {
  font-size: 40px;
  line-height: 1em;
  margin-bottom: 11px;
}

.double-card .checkin-checkout-date {
  margin-bottom: 4px;
}

.double-card .listing-title {
  margin-top: 2px;
}

@media (min-width: 768px) and (max-width: 1099px) {
  .triple-card .panel {
    min-height: 396px;
  }
}

.triple-card .guest-profile-img {
  height: 180px;
}

.triple-card .panel-body {
  margin-bottom: 6px;
}

.triple-card .checkin-checkout-date {
  margin-bottom: 6px;
}

.triple-card .nice-checkin-day {
  margin-bottom: 9px;
}

.triple-card .listing-title {
  margin-top: 2px;
}

.nice-checkin-day:first-letter {
  text-transform: capitalize;
}

.message-label {
  padding-left: 6px;
  text-transform: uppercase;
}

.demand-tip .icon-arrow-down {
  font-size: 20px;
  font-weight: bold;
  padding-top: 7px;
}

.market-average-line {
  stroke: #f33;
  strokewidth: 1;
  fill: transparent;
  pointer-events: none;
}

.demand-chart-ftue,
.review-scores-ftue {
  position: absolute;
  width: 100%;
  background-color: #00d1c1;
  background: rgba(0, 209, 193, 0.8);
  z-index: 1999;
}

.demand-chart-ftue,
.review-scores-ftue {
  height: 100%;
  top: 0;
}

.demand-chart-outer-container,
.review-scores-ftue-container {
  width: 100%;
}

.demand-chart-outer-container {
  overflow: hidden;
}

.demand-chart-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.demand-chart-container {
  margin: 0 auto;
  position: relative;
}

.demand-chart-container .bar {
  fill: #d1eaea;
}

.demand-chart-container .bar-no-pageviews {
  stroke: #d1d2d4;
  stroke-width: 1;
  stroke-dasharray: 0 35 41 0;
  fill: transparent;
}

.demand-chart-container .bar-no-pageviews.active,
.demand-chart-container .bar-no-pageviews:hover {
  fill: transparent;
}

.highlight.bar {
  fill: #7acbcb;
}

.highlight.bar.active,
.highlight.bar:hover {
  fill: #007a87;
}

.highlight.bar-no-pageviews {
  stroke: #d1d2d4;
  stroke-width: 1;
  stroke-dasharray: 0 35 41 0;
  fill: transparent;
}

.highlight.bar-no-pageviews.active,
.highlight.bar-no-pageviews:hover {
  fill: transparent;
}

.x-axis .tick {
  color: #c4c4c4;
}

.x-axis .tick,
.x-axis-icons .tick {
  font-size: 10px;
  font-weight: bold;
  width: 29px;
  display: inline-block;
  text-align: center;
  margin-right: 1px;
  vertical-align: top;
  line-height: 1em;
}

@media (min-width: 768px) and (max-width: 1099px) {
  .x-axis .tick,
  .x-axis-icons .tick {
    width: 19px;
  }
}

.demand-monthly-chart {
  position: relative;
  -webkit-transition: left ease-out 500ms;
  -moz-transition: left ease-out 500ms;
  -o-transition: left ease-out 500ms;
  transition: left ease-out 500ms;
}

.demand-chart-nav-month-name {
  margin-top: 4px;
}

.demand-summary-card-container .panel .summary-card-header .media-photo {
  height: 120px;
}

.demand-summary-card-container
  .panel
  .summary-card-header
  .media-photo
  .listing-name {
  height: 57px;
}

.demand-summary-card-container .panel .summary-card-header .media-photo .nav {
  cursor: pointer;
}

.demand-summary-card-container
  .panel
  .summary-card-header
  .media-photo
  .nav:hover {
  color: #fff;
}

.demand-summary-card-container .panel .summary-card-body {
  min-height: 150px;
}

.icon-confirmed-reservation {
  width: 18px;
  height: 18px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #3fb34f;
  border: 3px solid #fff;
  display: inline-block;
  margin-bottom: -2px;
}

.icon-request-received {
  width: 15px;
  height: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ffb400;
  display: inline-block;
  margin-bottom: -2px;
}

.icon-confirmed-reservation-and-request-received .icon-request-received {
  width: 18px;
  height: 18px;
  text-align: center;
}

.icon-confirmed-reservation-and-request-received .icon-confirmed-reservation {
  width: 16px;
  height: 16px;
}

.dot-tiny {
  width: 6px;
  height: 6px;
}

.dot-small {
  width: 8px;
  height: 8px;
}

.dot-muted-babu {
  background-color: #7acbcb;
}

.icon-page-views {
  display: inline-block;
  height: 10px;
  width: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #79cccc;
}

.fade-out {
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  filter: alpha(opacity=0);
}

.y-axis {
  width: 46px;
  right: 0;
  position: absolute;
  margin-top: -370px;
  font-size: 10px;
  color: #aaa;
}

.y-axis hr {
  margin: 0;
  border-top: 1px dashed #c4c4c4;
}

.y-axis li {
  height: 50%;
}

.review-scores-icon-container {
  padding: 10px;
}

.review-scores-icon-container.success {
  background-color: #3fb34f;
}

.review-scores-icon-container.warning {
  background-color: #ffb400;
}

.review-scores-sidenav-item {
  font-size: 14px;
}

.review-scores-sidenav-item.success span {
  margin-left: 35px;
}

.review-scores-sidenav-item.warning span {
  margin-left: 13px;
}

.review-scores-tip a,
.hdb-link {
  color: #565a5c;
  text-decoration: underline;
}

.review-scores-tip a:hover,
.hdb-link:hover {
  text-decoration: none;
}

.medium-space-left {
  margin-left: 10px;
}

.btn-review-scores {
  border-color: #eee;
}

@media (min-width: 768px) {
  .hide-details-link {
    margin-left: 55px;
  }
}

.review-score-listing {
  overflow: hidden;
  -webkit-transition: height ease 400ms;
  -moz-transition: height ease 400ms;
  -o-transition: height ease 400ms;
  transition: height ease 400ms;
}

.review-score-listing .collapsed-inner-container {
  opacity: 1;
  -ms-filter: "alpha(opacity=100)";
  filter: alpha(opacity=100);
}

.review-score-listing .expanded-inner-container {
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  filter: alpha(opacity=0);
}

.review-score-listing.expanded .collapsed-inner-container {
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  filter: alpha(opacity=0);
}

.review-score-listing.expanded .expanded-inner-container {
  opacity: 1;
  -ms-filter: "alpha(opacity=100)";
  filter: alpha(opacity=100);
}

.review-score-listing .panel-padding-medium {
  padding-top: 0;
}

.review-score-listing .progress {
  background-color: #dce0e0;
  height: 12px;
}

.review-score-listing .sidenav-container {
  border-right: 1px solid #dce0e0;
}

.review-score-listing .sidenav-container .panel-quote.fang-on-the-right {
  margin-left: 0;
}

.review-score-listing .sidenav-container .panel-quote.fang-on-the-right:before {
  top: 10px;
  left: auto;
  right: -20px;
}

.review-score-listing .sidenav-container .panel-quote.fang-on-the-right:after {
  top: 11px;
  left: auto;
  right: -21px;
}

.fade-in-out {
  -webkit-transition: all ease 200ms;
  -moz-transition: all ease 200ms;
  -o-transition: all ease 200ms;
  transition: all ease 200ms;
}

.review-scores-cta {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

#availability_warning1 p,
.ml-error {
  color: red;
}
